/**
 * 	Angular RangeSlider SCSS
 * 
 *	Version: 0.0.7
 *
 * 	Author: Daniel Crisp, danielcrisp.com
 *
 * 	The rangeSlider has been styled to match the default styling
 * 	of form elements styled using Twitter's Bootstrap
 * 
 * 	Originally forked from https://github.com/leongersen/noUiSlider
 *

	This code is released under the MIT Licence - http://opensource.org/licenses/MIT

	Copyright (c) 2013 Daniel Crisp

	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in
	all copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	THE SOFTWARE.

 */
/*------------------------------------*\
    COMPASS IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    THE CSS
\*------------------------------------*/
/* line 69, scss/angular.rangeSlider.scss */
.ngrs-range-slider {
  position: relative;
  margin: 10px 0 30px;
  padding: 4px;
  border: 1px solid #ccc;
  background: #fff;
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear, box-shadow linear;
  -webkit-transition-delay: 0.2s, 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*------------------------------------*\
      RUNNER
  \*------------------------------------*/
  /*------------------------------------*\
      JOIN (connects the two handles)
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE SPECIFICS
  \*------------------------------------*/
  /*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
  /*------------------------------------*\
      VERTICAL SLIDER
  \*------------------------------------*/
  /*------------------------------------*\
      FOCUS STATE
  \*------------------------------------*/
  /*------------------------------------*\
      DISABLED STATE
  \*------------------------------------*/
}
/* line 72, scss/angular.rangeSlider.scss */
.ngrs-range-slider, .ngrs-range-slider * {
  display: block;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 97, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-runner {
  position: relative;
  margin: 0 9px;
  height: 18px;
}
/* line 107, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-join {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 100%;
  height: 8px;
  margin: -4px 0 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
  background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
  background-image: -o-linear-gradient(#5bc0de, #2f96b4);
  background-image: linear-gradient(#5bc0de, #2f96b4);
}
/* line 125, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 18px;
  margin: 0 0 0 -9px;
  background: #efefef;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  /*------------------------------------*\
      HANDLE ICON
  \*------------------------------------*/
}
/* line 139, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle i {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat -9999px -9999px;
  cursor: pointer;
}
/* line 149, scss/angular.rangeSlider.scss */
.ngrs-no-touch .ngrs-range-slider .ngrs-handle:hover i, .ngrs-range-slider .ngrs-handle.ngrs-down i {
  background-position: 50% 50%;
}
/* line 154, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-down {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* line 165, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-min i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFNJREFUeNpiYMAEXEDsA+OwoEnKALETEHOgK2AEYhMgNkQ3DqSAB6pLAot1DExIJmAFzED8C4hvQdnIppyFKYCBp0D8CohloVafxWUqN7I3AQIMAKw6B24pOi8lAAAAAElFTkSuQmCC");
}
/* line 172, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-max i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFdJREFUeNpiYEAAHyDmYkADzEhsByBWA+K3QPwJmwJjIGYBYlUgZgLi59gUwIAkEEsD8VMmBtyAkQFqJDZwAYjPAPE/dAU/gHg/ED/GpgvkTW50QYAAAwADfwrM5sqplgAAAABJRU5ErkJggg==");
}
/* line 182, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-value {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0 0 0;
  font-size: 12px;
  color: #999;
}
/* line 190, scss/angular.rangeSlider.scss */
.ngrs-range-slider .ngrs-value.ngrs-value-max {
  left: auto;
  right: 0;
  text-align: right;
}
/* line 198, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-handle-min-down .ngrs-value-min, .ngrs-range-slider.ngrs-handle-max-down .ngrs-value-max {
  color: #333;
}
/* line 206, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical {
  width: 28px;
  margin: 10px auto;
  /*------------------------------------*\
      RUNNER
  \*------------------------------------*/
  /*------------------------------------*\
      JOIN
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE SPECIFICS
  \*------------------------------------*/
  /*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
  /*------------------------------------*\
      VERTICAL LEFT SLIDER
  \*------------------------------------*/
  /*------------------------------------*\
      VERTICAL RIGHT SLIDER
  \*------------------------------------*/
}
/* line 214, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-runner {
  margin: 9px 0;
  height: 300px;
  width: 18px;
}
/* line 224, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-join {
  width: 8px;
  height: auto;
  top: 0;
  bottom: 100%;
  left: 50%;
  right: auto;
  margin: 0 0 0 -4px;
}
/* line 238, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle {
  width: 100%;
  height: 18px;
  margin: -9px 0 0 0;
}
/* line 249, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-min i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpiYEAFPFAMB0xIbEYgdoJiRpggM5ICUyBWhZoA0vgMWYEsENsg6ZQE4ldA/AmkkguIHZGNhQKQGBfIBHcgFmTABCxALMJAMQAIMAAcNgVQJ7t7JQAAAABJRU5ErkJggg==");
}
/* line 256, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYKAUMAKxDxBL4ZB/xgQk9gHxDyySILF9zEDiNxC/A2JVNAW7gfgtM5TzCYhZgFgCyr8IxNdADGZk+4BYGoi/APEBIP6PzVE8UAwHAAEGAArIDvzRFIA6AAAAAElFTkSuQmCC");
}
/* line 266, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value {
  top: 0;
  left: 100%;
  padding: 0 0 0 5px;
}
/* line 271, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value.ngrs-value-max {
  top: auto;
  bottom: 0;
  right: auto;
  text-align: left;
}
/* line 283, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-left {
  margin: 10px 0;
}
/* line 291, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right {
  margin: 10px 0 10px auto;
  /*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
}
/* line 298, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value {
  left: auto;
  right: 100%;
  padding: 0 5px 0 0;
  text-align: right;
}
/* line 304, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value.ngrs-value-max {
  text-align: right;
}
/* line 316, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 327, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled, .ngrs-range-slider.ngrs-disabled.ngrs-focus {
  border-color: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 333, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle {
  background: #fff;
  border-color: #ddd;
}
/* line 337, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle i {
  background: none !important;
  cursor: default;
}
/* line 343, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-join {
  background: #ddd;
}
/* line 347, scss/angular.rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-value {
  color: #ddd;
}

/*------------------------------------*\
    TOUCH STATE
\*------------------------------------*/
/* line 359, scss/angular.rangeSlider.scss */
body.ngrs-touching {
  -ms-touch-action: none;
}
