#profileImgContainer{
	position:relative;
	margin:10px 10px 0px 0px;
}
.profileEditBtn{
	background: rgba(254, 170, 78, 0.7);
	color: #484141;
	font-size: 11px;
	font-weight: bold;
	line-height: 9px;
	position: relative;
	top:-26px;
	padding: 5px 0;
	text-align: center;
	width: 100px;
}
.settingCtrls{
	margin-top:11px !important;
	margin-right:10px;
}

.none{
	display:none;
}
.marginTop4{
	margin-top:4px;
}
.noMarginBottom{
	margin-bottom:0px !important;
}
.noBorderRadius{
	border-radius: 0px !important;
}
.nopadding{
	padding:0px !important;
}

/* ======= Settings Tab ======== */
.deviceNameInput {
	width: 235px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:400px;
  height:275px;
}

.uploadBtn {
    display: block;
    position: relative;
    /* width: 300px;*/
    margin: auto;
    cursor: pointer;
    border: 0;
    /* height: 60px;
    border-radius: 5px;*/
    outline: 0;
}

.uploadBtn:after {
    transition: 200ms all ease;
    /* border-bottom: 3px solid rgba(0,0,0,.2);*/
    background: #F7792D;
    /* text-shadow: 0 2px 0 rgba(0,0,0,.2);*/
    color: #eee;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 1px;
    left: 0;
    width: 34%;
    height: 85%;
    display: block;
    content: 'Upload';
    line-height: 27px;
    border-radius: 0px;
}

/* ======= Activity Tab ======== */
#activityOverview{
	height:650px;
}
#recentContactList,
#recentAlerts,
#recentPhotos{
	height: 194px;
	overflow:auto;
}
.tabHeight{
	height:260px;
}
.whiteBackground{
	background: #ffffff;
}

.recentImages{
	padding: 8px !important;
	margin: 5px !important;
}


/* ======= Location Tab ======== */
#mapContainer{
	height:688px;
	position:relative;
}
#mapDiv{
	margin-top: -30px;
}
#mapContainerDiv{
	display:block;
	height:688px;
}

#mapCtrlBtnsContainer {
    position: relative;
    z-index: 10;
    top: 20px;
    left: 80px;
}

#mapCtrlBtnsContainer button {
	opacity: 1 !important;
}

.angular-google-map-container { height: 688px; }

#alerts{
	position: absolute;
	right:0px;
	height:648px;
	width:380px;
	z-index:11;
	display: none;
}

.alertsTab,
.alertZonesTab{
	overflow: auto;
	height: 588px;
}

.background{
	background:white;
}

.geofenceRangeBtn{
	width:70px;
}


/* ======= call and texts ======== */
#contactsTableDiv{
	background:#ffffff;
	height:650px;
	overflow-y:auto;
}
.contactName{
	padding:0px 0px 0px 12px;
}
.contactNo{
	font-size:12px;
	padding:0px 0px 0px 12px;
}
.red{
	color:#D14;
}
#contactsInfoDiv{
	background:#ffffff;
	height:650px;
}
#messagesInfo{
	/* display:none;*/
	background:#ffffff;
}
#messagesContainer{
	height:554px;
}
#flaggedMessagesContainerDiv{
	height:436px;
	overflow-y:auto;
}
#allMessagesContainerDiv{
	height:438px;
	overflow-y:auto;}

#allCallsContainerDiv{
	height:512px;
	
}
#allCallsContainer{
	height: 450px;
	overflow-y:auto;
}
#callsInfo{
	background:#ffffff
}
#flaggedWordsInfo{
	background:#ffffff;
	margin-bottom:0px;
}

#flaggedWordsContainer,
#defaultFlaggedWordsContainer{
	max-height:504px;
	overflow:auto;
}
.textImage{
	margin:0px 4px 4px 0px;
}
.textTimestamp{
	position:absolute;right:10px;bottom:10px;
}
.flagMessage{
	color: red;
	position: absolute;
	top: 4px;
	left: 5px;
}


/* ======= gallery ======== */
#galleryContainer{
	height:700px !important;
	overflow: auto;
}
.modal-title {
	margin: 0;
	line-height: 1.428571429;
	text-align: center;
}

.imageBlack {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  /*  -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px; */
}

.imageBlack:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
	 
}

/* ======= apps ======== */
#phoneappsOverview{
	height:650px;
}

#applistDiv{
	height: 600px;
	overflow: auto; 
}

/* ======= internet ======== */
#internetDiv{
	height:650px;
}
#webHistoryList{
	height: 590px;
	overflow: auto;
}
#timeSpentList,
#webHistoryTable,{
	height:650px;
	overflow: auto;
}
#blockedSitesTableDiv,
#keywordsTableDiv{
	height: 485px;
	overflow: auto;
}
#categoriesTableDiv{
	height: 525px;
	overflow: auto;
}

/* == No Devices Tab == */
#noDevicesDiv{
	height: 650px ;	
}


