html { height: 100% }
body { 
  height: 100%; margin: 0;  padding: 0; /*this is the header size*/
  font-family: 'Lato', Calibri, Arial, sans-serif;  
  background:url(../../images/newDash/background/ps-circles4.png) 100% 100% no-repeat fixed, url(../../images/newDash/background/bodybackground1.jpg);  
}
#wrap{

	/* height: 100%; */
	/* Firefox */
	min-height: -moz-calc(100% - 80px);
	/* WebKit */
	min-height: -webkit-calc(100% - 80px);
	/* Opera */
	min-height: -o-calc(100% - 80px);
	/* Standard */
	min-height: calc(100% - 80px);
	
	position:relative;
		
}

.bodyContainer, .bodyOverlay {
	position: fixed !important;
}

.bodyOverlay{
	display:none;
	width: 100%;
	height:100%;
	background-color: rgb(0, 0, 0);
	opacity: 0.8;
	position: absolute;
	z-index: 1050;
	overflow:hidden;	
}
/***************  Header  *********/
#openNavSliderBtn{
	margin: 10px 0px 0px -10px;
}
#mmNavbar {
	position: relative;
	z-index: 2000;
	margin-bottom:0px;
}
#mmNavbar .btn-navbar {
	float:left;
}
#profileImgContainer {
	float: right;
}

#bodywrapper {
	 margin-top:-21px; 
}

#navSlider {
	display:none;
	position: fixed;
	width: 50%;
	max-height:100%;
	overflow:auto;
	overflow-x:hidden;
	background: #f4f4f4 url(../../../images/newDash/background/bodybackground1.jpg);
	background-color: white;
	/*  opacity: 0.9;*/
	z-index: 2000;
}

.navPullTop{
	margin-top:-21px;
}

.alertCircle{
	position: fixed !important;
	top:2px !important;
	left:2px !important;
	padding-right: 6px !important;
	padding-left: 6px !important;
	border-radius: 11px !important;
}

/* Menu Navigation */
#navSlider nav ul li a {
	display: block;
	text-decoration: none;
	color: black !important ;
	padding: 1em;
	margin-bottom: 1px;  
 }
 #navSlider ul{
	margin: 0px 0px;
	overflow:hidden;
 }
 #navSlider a { 
	color: #333333 !important;
 }
 
 .marginLeft{
	margin:0px 0px 0px 12px;
 }

#footer {
	height:80px;
	margin: 0;
	clear: both;
	width:100%;
	position: relative;
}

/******* main body *****/

#map-canvas { height: 500px }
#location-canvas { height: 688px }
#dashBody {margin-top: 70px;}

/* CSS for the device/child circles under the header */

.focus {
 height: 100px;
 width: 100px;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
 webkit-border-radius: 500px;
 -moz-border-radius: 500px;
 border-radius: 500px;
 opacity: 0.4;

}

.focus-selected {
 height: 100px;
 width: 100px;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -o-transition: all 1s ease;
 -ms-transition: all 1s ease;
 transition: all 1s ease;
 webkit-border-radius: 500px;
 -moz-border-radius: 500px;
 border-radius: 500px;
 opacity: 1;
 border: 4px solid #ff6e16;
 box-shadow: 2px 3px 5px #888888;
}

.focus:hover {
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 2px 3px 5px #888888;
}

.morph {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


 .topKidsContainer {
	min-height: 20px;
	margin-left: 0px;
	
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
 /* border-top: 1px solid #ddd;
  
  
  border: 4px solid #747474;
  //min-height:660px;
 
  box-shadow: 2px 3px 5px #888888;*/
} 


/**********************CSS for tabs and sidebar*************************/

 
/* #movetabs {
    margin-left: 90px; 
    width:700px ;
	margin-left: auto ;
	margin-right: auto ;

} */


.sidebar-tabs {
	text-align: center;
	font-family:"Arial Black", Gadget, sans-serif;
}


.notactive {
 color: #555555;
 //cursor: default;
 background-color: #A2C838;
 border: 1px solid #ddd;
 border-bottom-color: transparent;


}

.nav1 {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

/* .nav12 > li > a:active{

  box-shadow: 2px 1px 2px #888888 !important;
} */

.nav12 > li > a {
  display: block;
  background-color:#A2C838;
  margin: 0px 0px 0px 0px;
 
  /* //border-left: 4px solid #747474 !important; */
  border-right: 0px solid transparent !important;
  /* //border-bottom: 4px solid #747474 !important;
  //border-top: 4px solid #747474 !important;
  //box-shadow: 2px 1px 2px #888888;
  box-shadow: inset 0 0 10px #000000; */
}

.tab-image {
	background-image:url('images/pc.png');
}


.nav12 > li > a:hover,
.nav12 > li > a:focus {
  text-decoration: none;
  background-color: #ffffff;
  color:#555555 !important;
  
}

.nav1> li > a > img {
  max-width: none;
}

.nav1 > .pull-right {
  float: right;
}


/***********CALL AND TEXT*********************/
	#contactsInfoDiv{
		display:none;
	}
	.flagMessageRight{
		color: red;
		position: absolute;
		top: 4px;
		right: 10px;
	}
	
	ul.timeline{
      width: 'auto'; /* total width and plus 20px for triangles */
      position: relative;
      list-style:none;
      overflow: hidden; 
      padding: 0px;
      margin: 0px ;
    }

    .timeline > li{
     
      position: relative; /* important to hold the absolute element triangles */
      padding:10px;
	  border-bottom: 1px solid #b9b9b9;
	  border-top: 1px solid #f7f7f7;
  
    }
	
	.rightMsgTime{
		position:absolute;
		right:2%;
		bottom:5%;	
	}
	
	.leftMsgTime{
		position:absolute;
		bottom:5%;	
	}
	
	
	
	.mobileCallsView{		
		padding:30px 10px !important;		
	}
	
	.highlightRow{
		
		background: #e2e2e2;
		color: #000000;
		z-index: 999;
	}

	
	/*
    .timeline > li:before{
      border:7px solid;
      content:'';
      display: block;
      position: absolute;
      
    }
	
	.timeline .incoming{
      float:right;
      clear:right;
	
    }
    .timeline .outgoing{
      float:left;
      clear:left;
	  background:#e2e2e2; 
    }
    .timeline .incoming:before{
      border-color:#f5f5f5 #a1a1a1 #f5f5f5 #f5f5f5;
      right:100%;
      top:10px;
    }
    
    .timeline .outgoing:before{
      border-color:#f5f5f5 #f5f5f5 #f5f5f5 #a1a1a1;
      left:100%;
      top:10px;
    }
	

    
	
	.highlightRow{
		
		background: #e2e2e2;
		color: #000000;
		z-index: 999;
	}
	
	


	.activeTab{
		border: solid 2px #FDFCFC !important;
		font-weight: bold !important;
		color:black !important;
	}
	

	.navTabLink {
		color:#ffffff;
		font-family: "Arial Bold", Gadget, sans-serif !important;
	}
	
	 */


/*********** Location Geofence*********************/

a{ text-decoration: none !important;}

.slidebarTitle {
  font-size: 1.5em;
  padding: 4px 2px 4px 8px;
  display: inline-block;
}
.geoHeader {
  padding: 5px 5px;
}
.geoHeaderBtnGroup {
  display: inline;
  float: right;
}

#geos {
  padding: 0px 6px;
}

#geoStatus {
  padding: 0px 6px;
}

.gfs {
    background-color: #efefef;
    margin-bottom: 4px;
}

.gfName {
  width: 262px;
  margin-left: 2px;
}

.repeatCheckbox {
  padding-bottom: 2px;
}
.geoDates {
   padding-bottom: 4px;
}

.geoRanges {
  padding-bottom:10px;
}
.geoConfirmBtns {
  float:right;
  margin-bottom:12px;
}
.marginTop6{
	margin:6px 0px 0px 0px;
}
.marignTop10{
	margin:10px 0px 0px 0px;
}
.marginTop12{
	margin:12px 0px 0px 0px;
}
.marignTop16{
	margin:16px 0px 0px 0px;
}

.marginTopBottom{
	margin:10px 0px 14px 0px;
}
.datePickersInputWidth{
	width:78px !important;
}
.timepickers{
	width:328px;
}

/* slider bar */

.mapLeftSideSlider {
  position: absolute;
  width: 100%;
  max-height:100%;
  overflow:auto;
  overflow-x:hidden;
  top: 0;
  right: 0;
  display:none;
  /*background: #f4f4f4 url(../../../images/dash/bodybackground.jpg);*/
  background-color: white;
/*  opacity: 0.9;*/
  z-index: 10;

}

.eventTypeBtns .active {
	color:#0195ff;
}

/* on map */
#mapCtrlBtnsContainer {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 80px;
}

#mapCtrlBtnsContainer button {
	opacity: 1 !important;
}

/*datepicker*/
.datepickers-input {
  width: 65px;
}

.datePickers span {
  cursor: pointer;
  border-bottom: solid;
  border-color: grey;
  color:grey;
  margin: 0 3px;
}
.datePickers span:hover{
  border-color: #0088cc;
  color:#0088cc;
}


.datePickers button.active {
  color: #0195ff;
}

#alerts{
	width:90% !important;
}

/*************** INTERNET TAB ******************/
#internetDiv{
	background-color: #f5f5f5;
}


/**************BLOCKED TOGGLE******************/

.list-spacer{
    border-bottom: 2px solid #747474;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;

}

/****************** Profile Header *********/

#profileEditBtn {
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 18px;
}
#uploadPicBtn {
  margin-bottom: 5px;
  margin-left: 5px;
}
#editPicContainer {
  text-align: center;
  padding-bottom: 2px
}
#editNameContainer {
  padding-top:2px;
  text-align: center;
}

#closeProfilePopover {
  margin-left: 8px;
  color: #ff6e16;
}

.popover-title {
	text-align: center;
}

.hiddenForm {
	visibility:hidden;
	width:0;
	height:0
}

/************* gallery **************/

#galleryContainer {
	list-style: none;
	padding: 0;
	margin: 0;
}
#galleryContainer li img {
	display: block;
	width: 100%;
	height: auto;
 }

#galleryContainer li {
	float: left;
	width: 33.33333333%;
}

#galleryContainer li a {
	display: block;
	margin: 5px;
	border: 1px solid #3c3c3c;
}

#galleryContent {
	padding:10px;
}
.checkboxOnImg {
	width:20px !important;
	height:20px !important;
	position: relative;
	top: 30px;
	left: 8px;
	visibility: hidden;
	z-index: 1050;
}
#deleteImgBtn {
	display:none;
}

#cancelDelBtn {
	display:none;
}

.invisibleDiv {
	position: absolute;
	z-index: 1040;
}
  /********* APP *********/
  #phoneappsOverview{
  	background-color: #f5f5f5;
  }
  #appSearchInput {
    display:inline-block;
    float:right;
  }

  #appFilter {
  	width : auto;
  }

  #appFilterWrapper {
    padding: 10px 0px 0px 0px;
  }

  tr.tablesorter-filter-row {
    display:none !important;
  }

  #appNumbers {
    display: inline;
    padding-left: 17%;
  }

  #appNumbers strong{
    color: #0088cc;
  }
  #appWrap td{
    text-align: center;
    vertical-align: middle; 
	padding: 0px 0px 0px 6px !important;
  }
   #appWrap .textCenter{
    text-align: center;
	}

@media (max-width : 320px) {
	  .appName {
	    text-align: left !important;
		line-height:60px;
	  	max-width: 149px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	  }
}
	  .appName {
	    text-align: left !important;
		line-height:60px;
	  }

  .appIcon {
    height:35px;
    width:35px;
	padding-top:12px;
    margin-right: 7px;
  }
  
  #webhistory .textCenter{
  
	text-align:center;
  }
  
  #timeSpent .textCenter{
  
	text-align:center;
  }

  #alertBanner {
  	position:fixed;
  	z-index: 20;

  }

  #alertBanner .alert {
  	  margin:0px !important;
  }

  .appsDuration {
  	margin-top:22px;
  	float:right;
  }

  /*********** account setting **********/
  ol.emergencyPhoneLi li {
    margin-left: 16px;
    padding-bottom: 4px;
  }

  /********* Mobile minder colors **********/
	.mmblue,   
	.mmblue.disabled,
	.mmblue[disabled] {
		color:#ffffff;
		
		background-color:#0195ff;
		border:1px solid #0195ff;
		opacity:0.8;
	}
	
	.mmblue:hover,
	.mmblue:focus,
	.mmblue:active,
	.mmblue.active{
		color:#ffffff;
		text-shadow:0 0 20px yellow ;
		background-color:#0195ff;
		border:1px solid #0195ff;
		opacity:0.8;
	}
	
	.mmgreen,   
	.mmgreen:hover,
	.mmgreen:focus,
	.mmgreen:active,
	.mmgreen.active,
	.mmgreen.disabled,
	.mmgreen[disabled] {
		color:#ffffff;
		background-color:#a1c838;
		border:1px solid #a1c838;
	}
	
	.mmorange,   
	.mmorange:hover,
	.mmorange:focus,
	.mmorange:active,
	.mmorange.active,
	.mmorange.disabled,
	.mmorange[disabled] {
		color:#ffffff;
		background-color:#ff6e16;
		border:1px solid #ff6e16;
		opacity:0.8;
	}
	
	
	
	.mmlink,
	.mmlink,   
	.mmlink:hover,
	.mmlink:focus,
	.mmlink:active,
	.mmlink.active,
	.mmlink.disabled,
	.mmlink[disabled] {
		color:#0195ff;
	}
	
	.mmblack,
	.mmblack,   
	.mmblack:hover,
	.mmblack:focus,
	.mmblack:active,
	.mmblack.active,
	.mmblack.disabled,
	.mmblack[disabled] {
		/* background-color:#ffffff !important; */
		color:#333333;
	}
	
	
	.center{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	
	/* === container to overlay on contacts when clicked on the flagged words====  */
	.overlayContainer{
		display:none;
		position:absolute;
		width: 230px;
		height: 650px;
		/* background-color: #efefef; */
		background-color: #f5f5f5;
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
		z-index: 10000;
	}


  .settingInner {
    max-height: 256px;
    overflow: auto;
    overflow-x:hidden;
  }

  .miscForm {
    border-bottom: solid;
    border-width: 2px;
    margin-bottom: 7px;
  }


	#floating_link {
		 position: fixed;
		 right: 0;
		 top: 150px;
	}
	
	.footer{
		position:fixed;
		bottom:0px;
	
		
		/* background: #ffffff; */
		/* color: #333333; */
		/* box-shadow: 0px -2px 5px 0px #c5c5c5; */
	}
	
	.hide{
		display:none;
	}
	/*============ Pricing page Starts ===============*/
	.pricing-table .plan {
	  border-radius: 5px;
	  text-align: center;
	  background-color: #f3f3f3;
	  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
	  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
	  box-shadow: 0 0 6px 2px #b0b2ab;
	}
	 
	 .plan:hover {
	  background-color: #fff;
	  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
	  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
	  box-shadow: 0 0 12px 3px #b0b2ab;
	}
	 
	.plan {
	  padding: 20px;
	  color: #ff;
	  background-color: #5e5f59;
	  -moz-border-radius: 5px 5px 0 0;
	  -webkit-border-radius: 5px 5px 0 0;
	  border-radius: 5px 5px 0 0;
	}
	  
	.plan-name-bronze {
	  padding: 20px;
	  color: #333;
	  /* background-color: #665D1E; */
	  -moz-border-radius: 5px 5px 0 0;
	  -webkit-border-radius: 5px 5px 0 0;
	  border-radius: 5px 5px 0 0;
	 }
	  
	.plan-name-silver {
	  padding: 20px;
	  color: #333;
	
	 /*  background-color: #C0C0C0; */
	  -moz-border-radius: 5px 5px 0 0;
	  -webkit-border-radius: 5px 5px 0 0;
	  border-radius: 5px 5px 0 0;
	 }
	  
	.plan-name-gold {
	  padding: 20px;
	  color: #333;
	  /* background-color: #FFD700; */
	  -moz-border-radius: 5px 5px 0 0;
	  -webkit-border-radius: 5px 5px 0 0;
	  border-radius: 5px 5px 0 0;
	  } 
	  
	.pricing-table-bronze  {
	  padding: 20px;
	  color: #fff;
	  background-color: #f89406;
	  -moz-border-radius: 5px 5px 0 0;
	  -webkit-border-radius: 5px 5px 0 0;
	  border-radius: 5px 5px 0 0;
	}
	  
	.pricing-table .plan .plan-name span {
	  font-size: 20px;
	}
	 
	.pricing-table .plan ul {
	  list-style: none;
	  margin: 0;
	  -moz-border-radius: 0 0 5px 5px;
	  -webkit-border-radius: 0 0 5px 5px;
	  border-radius: 0 0 5px 5px;
	}
	 
	.pricing-table .plan ul li.plan-feature {
	  padding: 15px 0px;
	  border-top: 1px solid #c5c8c0;
	/*   font-weight:bold; */
	  text-align:left;
	}
	 
	.pricing-three-column {
	  margin: 0 auto;
	  width: 96%;
	}
	 
	.pricing-variable-height .plan {
	  float: none;
	  margin-left: 2%;
	  vertical-align: bottom;
	  display: inline-block;
	  zoom:1;
	  *display:inline;
	}
	 
	.plan-mouseover .plan-name {
	  background-color: #4e9a06 !important;
	}
	 
	.btn-plan-select {
	  padding: 8px 25px;
	  font-size: 18px;
	}
	
	.pricing-table .yearlyImageDiv{
	  background:url('../../images/payment/yearlyPlan.png') no-repeat center; 
	  /* width:270px; */
	  height:180px;
	}
	
	.pricing-table .familyImageDiv{
	  background:url('../../images/payment/familyPlan.png') no-repeat center; 
	  /* width:270px; */
	  height:180px;
	}
	
	.pricing-table .planTextDiv h1,h5{
	  margin:10px 0px;
	}
	

	/*========== Pricing page Ends ===============*/
	
	.borderRight{
		border-right: 1px solid #333333;
	}
	
	.numberCircle {
		-webkit-border-radius: 999px;
		-moz-border-radius: 999px;
		border-radius: 999px;
		
		width: 36px;
		height: 36px;
		padding: 8px;
		
		background: #ff6e16;
		border: 2px solid #ff6e16;
		color: #ffffff;
		text-align: center;
		
		font: 32px Arial, sans-serif
	}
	.whiteBackground{
		background:#ffffff;
		margin-bottom:20px; 
		border-radius:0px !important;
	}
	.infobox{
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: #ffffff;
		border: 2px solid #0195ff;
		/* -webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px; */
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	.infotext{
		font-size: 24.5px;
		font-weight: bold;
		line-height: 41px;
		text-align: center;
		
	}
	.blueBorder{
		border: 2px solid #0195ff !important;
	}
	.addDeviceText{
		padding: 10px 10px 10px 10px;
		/* font-weight: bold; */
		font-size: 15px;	
		/* margin-top: -71px; */
		line-height:26px;
	}
	.noBold{
		font-weight:normal !important;
	}

/** Upgrade Div Container - Start **/
	#upgradeVersionDiv{
		display:none;
		position:absolute;
		width: 990px;
		height: 650px;
		/* background-color: #efefef; */
		background-color: #f5f5f5;
		/* filter:alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5; */
		/* z-index: 10000 */
	}
	
	.bubbles{
		background-image:url(../../images/newDash/background/ps-circles.png); 
		background-repeat:no-repeat;
		background-position:left bottom;  	
	}
	.noBorder{
		border:0px;
	}
	.transparentBg{
		background:transparent;
	}
 
/**  Upgrade Div Container - End **/

#banner{
	background-color: #ff6e16;
	width: 100%;	
	color: white;
	display:none;
}
#banner-content{
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	font-size:18px;
}

/* table for apps and internet --> Start*/
.paddingTB20{
	padding:20px 8px !important;
}
.valign{
	vertical-align:middle !important;
}

/* table for apps and internet --> End*/

/* Buy Now Button */
#wrap #navSlider .freeTrailBuyNow-en{
	cursor:pointer;
	border:none;
	background:url('../../images/payment/buy-it-now.png') no-repeat transparent left;
	height:29px;
	display:none;
	background-size:100px;
}

#wrap #navSlider .freeTrailBuyNow-es{
	cursor:pointer;
	border:none;
	background:url('../../images/payment/buy-it-now-es.png') no-repeat transparent left;
	height:29px;
	display:none;
	background-size:100px;
}

#uninstalldesc{
	top:20%;
}


