@CHARSET "UTF-8";
/* Large desktop */
@media (min-width: 1200px) {
		#uninstalldesc {
		width:800px;
		left:40%;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
	#uninstalldesc {
		width:750px;
		left:38%;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}

.bottom-line{
	border-bottom: 1px solid #eee;
}

.normal-line{
	height:20px;
}

.modal-body .row  p{
	margin-top:10px;
	font-size: 1.2em;
}