
<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css styles/vendor.css -->

      <!-- endbuild -->
      <!-- build:css({.tmp,app}) styles/main.css -->
      <link rel="stylesheet" href="styles/bootstrap.css">
      <link rel="stylesheet" href="styles/bootstrap-responsive.css">
      <link rel="stylesheet" href="styles/theme.bootstrap.css">
      <link rel="stylesheet" href="styles/font-awesome.css">

      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="styles/inline.css">
      <link rel="stylesheet" href="styles/uninstall.css">
      <link rel="stylesheet" href="styles/component.css">


    <!-- endbuild -->
  </head>

      <body ng-app="mobileminderAuthApp" >


        <div id="wrap" ng-controller="loginCtrl">


          <div id="bodywrapper" class="container">
            <div class="row">


              <!-- BODY -->
              <div class="span10 mainDash noMargin">
                <div class="container">

                  <div class="row">

                    <div class="span4 offset4 well" id="signInForm" >

                        <legend>
                            <div class="row-fluid">
                                <span class="span3">
                                  <img src="../images/dashlogo.png"  alt="MobileMinder"/>
                                </span>
                                <span class="span9">
                                    <span style="float: right;margin-top: 43px;font-weight:bold;">Sign In</span>
                                </span>

                            </div>
                        </legend>

                      <div class="alert alert-danger noBorderRadius" ng-show="loginFailResponse">
                        <strong ng-bind="loginFailResponse"></strong>
                      </div>

                      <form name="loginForm" novalidate>

                        <div ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine }">
                          <label>Email</label>
                          <input type="email" name="email" class="span4 noBorderRadius" ng-model="userLogin.email" required>
                          <p class="alert-error" ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Valid email is required.</p>
                        </div>
                        <div ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine }">
                          <label>Password</label>
                          <input type="password" name="password" class="span4 noBorderRadius" ng-model="userLogin.password" required>
                          <p class="alert-error" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="alert-error">Password is required.</p>
                        </div>
                        <button class="btn btn-info" ng-disabled="loginForm.$invalid" ng-click="login()">Sign in</button>
                        <i class="icon-spinner" ng-show="spinner"></i>
                        <button class="btn mmgreen pull-right cursor" ng-click="switch()" >Sign Up</button>

                        <br><br>
                        <p>
                            <a type="submit" name="submit" class="cursor" ng-click="forgotPassword()" >Forgot Password?</a>
                        </p>



                      </form>
                    </div>

                    <div class="span4 offset4 well  none" id="forgotPasswordDiv">

                          <legend>
                            <div class="row-fluid">
                                <span class="span3">
                                  <img src="../images/dashlogo.png"  alt="MobileMinder"/>
                                </span>
                                <span class="span9">
                                    <span style="float: right;margin-top: 43px;font-weight:bold;">Forgot Password</span>
                                </span>

                            </div>
                          </legend>


                      <div class="alert alert-danger noBorderRadius" ng-show="loginFailResponse">
                        <strong ng-bind="loginFailResponse"></strong>
                      </div>
                      <div class="alert alert-success noBorderRadius" ng-show="loginSuccessResponse">
                        <strong ng-bind="loginSuccessResponse"></strong>
                      </div>
                      <form name="forgetPassword" novalidate>

                        <div ng-class="{ 'has-error' : forgetPassword.name.$invalid && !forgetPassword.name.$pristine }">
                          <label>Email</label>
                          <input type="email" name="email" class="span4 noBorderRadius" ng-model="resetPassword.email" required>
                          <p class="alert-error" ng-show="forgetPassword.email.$invalid && !forgetPassword.email.$pristine">Valid email is required.</p>
                        </div>

                        <button class="btn btn-info" ng-disabled="forgetPassword.$invalid" ng-click="resetPasswordSubmit()">Submit</button>
                        <i class="icon-spinner" ng-show="spinner"></i>
                        <button class="btn mmgreen pull-right cursor" ng-click="forgotPassword()"  >Back</button>

                      </form>
                    </div>

                    <div class="span4 offset4 well none" id="signUpForm">

                       <legend>
                          <div class="row-fluid">
                            <span class="span3">
                               <img src="../images/dashlogo.png"  alt="MobileMinder"/>
                            </span>
                            <span class="span9">
                               <span style="float: right;margin-top: 43px;font-weight:bold;">Sign Up</span>
                            </span>
                          </div>
                       </legend>


                      <form name="signupForm" novalidate>

                        <div class="alert alert-danger noBorderRadius" ng-show="signUpFailResponse">
                          <strong ng-bind="signUpFailResponse"></strong>
                        </div>

                        <div ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                          <label>Email</label>
                          <input type="email" name="email" class="span4 noBorderRadius" ng-model="newUser.email" required>
                          <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="alert-error">Valid email is required.</p>
                        </div>

                        <div ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                          <label>Password</label>
                          <input type="password" name="password" class="span4 noBorderRadius" ng-model="newUser.password" required>
                          <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="alert-error">Password is required.</p>
                        </div>

                        <div ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                          <label>Confirm Password</label>
                          <input type="password" name="confirmPassword" class="span4 noBorderRadius" ng-model="newUser.password_confirm" required>
                          <p ng-show="signupForm.confirmPassword.$invalid && !signupForm.confirmPassword.$pristine" class="alert-error">Password is required.</p>
                        </div>

                        <div class="row-fluid">

                          <label>Where did you hear about MobileMinder</label>
                          <div class="control-group">
                            <div class="controls">
                              <select ng-model="mmFeedback" style="width:100%">
                                <option value=""></option>
                                <option value="Facebook">Facebook</option>
                                <option value="Twitter">Twitter</option>
                                <option value="Friend/Family">Friend/Family</option>
                                <option value="Search Engine">Search Engine</option>
                                <option value="Google Ads">Google Ads</option>
                                <option value="Other">Other</option>
                              </select>
                            </div>
                          </div>
                          <div  ng-if="mmFeedback == 'Other'">
                              <input type="text" name="mediaSource" class="span12 noBorderRadius" ng-model="newUser.heard_from" required>
                          </div>

                          <span ng-if="mmFeedback == ''" class="alert-error span12 noMargin">Please choose a field.</span></span>


                        </div>

                        <div class="row-fluid" ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                          <label>Security Code</label>
                          <table style="margin-bottom:8px">
                              <tbody>
                                <tr>
                                  <td width="50%" style="background:#e5e5e5;text-align: center;font-size: 28px;"><span ng-bind="recaptcha">????????</span></td>
                                  <td width="50%"><input type="text" name="captcha" class="span12 noBorderRadius noMarginBottom" ng-model="userRecaptcha" required>

                                  </td>
                                </tr>


                              </tbody>
                          </table>
                          <p ng-show="signupForm.captcha.$invalid && !signupForm.captcha.$pristine"><span class="alert-error span12 noMargin">Please enter valid code.</span></p>

                        </div>

                        <br>

                        <div class="row-fluid"  ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                           <input type="checkbox" name="aggrement" ng-model="aggrement" required>&nbsp; I agree to the terms and conditions.

                           [<a ng-click="toggleAgreement()">Show</a>]
                           <p ng-show="signupForm.aggrement.$invalid && !signupForm.aggrement.$pristine" class="alert-error">Please accept the aggrement.</p>


                           <div id="agreement" style="height:300px;overflow-y:auto;display:none;">
                              <h5>Terms and Conditions</h5>

                              <p>(We strongly advise you to print off a copy of these terms and conditions for future reference.)</p>

                              <p>Please read these terms and conditions carefully before placing any orders through our site. You should understand that by placing any such orders, you agree to be bound by these terms and conditions. By clicking the “I Accept” button, you agree that you consent to our use of your information in accordance with our Privacy Policy, that you have read and agree to our Terms and Conditions (this page) and that you agree to the terms of our Software License. Please understand that if you refuse to accept these terms and conditions, you will not be able to activate MobileMinder from our site.</p>

                              <p>Our site is operated by MM Technology Ltd.</p>

                              <p>By placing an order through our site, you warrant that you are legally capable of entering into binding contracts and you are at least 18 years old.</p>

                              <p>After placing an order and making payment, you will receive an e-mail acknowledging receipt of your order and confirming that your payment has been processed.</p>

                              <p>We may provide links on our site to the websites of other organizations, whether affiliated with us or not. We cannot give any undertaking, that products or services you purchase from third party sellers through our site, or from companies to whose website we have provided a link on our site, will be of satisfactory quality, and any such warranties are DISCLAIMED by us absolutely. This DISCLAIMER does not affect your statutory rights against the third party seller. We will notify you when a third party is involved in a transaction, and we may disclose your customer information related to that transaction to the third party seller.</p>

                              <p>We aim to send you our order-acceptance e-mail as soon as possible after your payment has been processed. We will also permit you to activate your MobileMinder application as soon as we verify that your payment has been authorized.</p>

                              <h5>Payment</h5>

                              <p>In Europe the VAT-exclusive price of the Mobile Minder application will be as quoted on our site from time to time, except in cases of obvious error. If there is a pricing error which is obvious and unmistakable and could have reasonably been recognized by you as a mispricing, we are under no obligation to provide our service to you at the incorrect (lower) price, even after we have sent you our order-acceptance e-mail. Payment for all items must be by paypal. Please note that the price of 10 cents a day applies to our yearly rate only. Please note that the price of 10 cents a day applies to our yearly rate only and the price is subject to local VAT or sales tax where applicable. All sales are final there are no refunds.</p>

                              <h5>Our Liability</h5>

                              <p>Our liability for losses you suffer is strictly limited to the purchase price you have paid to activate the MobileMinder application. Losses are foreseeable where they could be contemplated by you and us at the time your order is accepted by us. We are not responsible for indirect losses which happen as a side effect of the main loss or damage and which are not foreseeable by you and us including but not limited to loss of income, revenue or anticipated savings. Our liability for infringement of third party intellectual property rights shall be limited to breaches of rights subsisting in Ireland. Where you buy any item from a third party seller through our site,the seller’s individual liability will be set out in the seller’s terms and conditions and we accept no liability with regard to any purchase you make from any third party seller through our site.</p>

                              <h5>Written Communications</h5>

                              <p>Applicable laws require that some of the information or communications we send to you should be in writing. When using our site, you accept that communication with us will be mainly electronic. We will contact you by e-mail or provide you with information by posting notices on our site. For contractual purposes, you agree to this electronic means of communication and you acknowledge that all contracts, notices, information and other communications that we provide to you electronically comply with any legal requirement that such communications be in writing. This condition does not affect your statutory rights.</p>

                              <h5>Notices</h5>

                              <p>All notices given by you to us must be given to MM Technology Ltd at admin@mobileminder.com. We may give notice to you at the e-mail you provide to us when placing an order or by posting notices on our site. Notice will be deemed received and properly served immediately when posted on our site, 24 hours after an e-mail is sent, or 3 days after the date of posting any letter.</p>

                              <h5>Events outside Our Control</h5>

                              <p>We will not be responsible for failure to perform or delay in performance of any of our obligations this agreement which is caused directly or indirectly by events beyond our reasonable control.</p>

                              <h5>Termination</h5>

                              <p>Without prejudice to our other rights and remedies, we may terminate a Contract immediately by written notice to you if you fail to observe any of the terms of these conditions(including for the avoidance of doubt the Privacy Policy, Terms of Website Use and the Software License). Upon termination of a Contract for any reason (including without limitation, on the expiry of your subscription period, if you choose not to renew your subscription) your right to use our service and all rights granted to you under the Software License shall cease and you must immediately delete or remove the Software from all computer equipment and mobile devices in your possession, and immediately destroy all copies of the Software.</p>

                              <h5>General</h5>

                              <p>If we fail, at any time during the term of a Contract, to insist upon strict performance of any of your obligations under the Contract or any of these terms and conditions, or if we fail to exercise any of the rights or remedies to which we are entitled under the Contract, this shall not constitute a waiver of such rights or remedies and shall not relieve you from compliance with such obligations. No waiver shall be valid unless it is given to you in writing by a duly authorised representative of mm Technology Limited and no waiver of any default by you shall constitute a waiver of any subsequent default. If any of these terms and conditions or any provisions of a Contract are determined by any competent authority to be invalid, unlawful or unenforceable to any extent, such term, condition or provision will to that extent be severed from the remaining terms, conditions and provisions which will continue to be valid to the fullest extent permitted by law. We intend to rely solely upon these terms and conditions and any document expressly referred to in them in relation to the subject matter of any Contract.</p>

                              <h5>Modifying these Terms and Conditions</h5>

                              <p>We have the right to revise and amend these terms and conditions from time to time. You will be subject to the policies and terms and conditions in force at the time that you activate MobileMinder on our site unless any change to those policies or these terms and conditions is required to be made by law or governmental authority (in which case it will apply to orders previously placed by you), or if we notify you of the change to those policies or these terms and conditions before we send you our e-mail confirming acceptance of your order (in which case we have the right to assume that you have accepted the change to the terms and conditions, unless you notify us in writing to the contrary within seven working days of receipt by you of our order acceptance e-mail).</p>

                              <h5>Law and Jurisdiction</h5>

                              <p>Any dispute arising from, or related to these terms and conditions shall be subject to the non-exclusive jurisdiction of the courts of Ireland.</p>

                              <h5>Indemnification</h5>

                              <p>Upon a request by us, you agree to defend, indemnify, and hold us and the other MobileMinder Parties harmless from all liabilities, claims, and expenses, including attorneys’ fees, that arise from your violation of these Terms of Service or any of the other Governing Documents, or other negligent or wrongful conduct. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.</p>

                              <h5>Disclaimer of Warranties</h5>

                              <p>You understand and agree that temporary interruptions of the Service may occur as normal events. You further understand and agree that we have no control over third party networks you may access in the course of the use of the Service, and therefore, delays and disruption of other network transmissions are completely beyond our control. You understand and agree that the Service is provided “AS IS” and that we assume no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communications or personalization settings.</p>

                              <h5>Miscellaneous</h5>

                              <p>These Terms of Service, together with the Privacy Policy and the other Governing Documents, constitute the entire agreement between you and MobileMinder concerning the Service and the services provided by MobileMinder. If any provision of any such document is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions thereof, which shall remain in full force and effect. MobileMinder’s failure to insist upon or enforce strict performance of any provision of these Terms of Service or any of the other Governing Documents shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of these Terms of Service. MobileMinder may assign its rights and duties under these Terms of Service or any of the other Governing Documents to any party at any time without notice to you. Most communication between MobileMinder and you will be sent and received electronically. You agree that all electronic communication between MobileMinder and you shall satisfy any legal requirements that such communications be in writing.</p>
                           </div>


                        </div>

                        <br>


                        <button class="btn btn-info cursor" ng-disabled="signupForm.$invalid || mmFeedback == ''" ng-click="signUp()">Sign Up</button>
                        <i class="icon-spinner" ng-show="spinner"></i>
                        <button class="btn mmgreen pull-right cursor" ng-click="switch()">Sign in</button>


                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/bootstrap/js/bootstrap.js"></script>
        <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>



        <script type="text/javascript">

          angular.module("mobileminderAuthApp", ['angularLocalStorage'])
          .config(['$httpProvider',
          function($httpProvider) {
                // Magic sauce, immediate so the value is stored and we don't need to lookup every check
                var _isNotMobile = (function() {
                    var check = false;
                    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
                     return !check;
                })();

                //console.log(_isNotMobile);
          }])
          .controller('loginCtrl',['$scope','$timeout','storage','$http','$window',function ($scope,$timeout,storage,$http,$window){

              $http.defaults.headers.post["Content-Type"] = "application/json";


              var baseUrl = 'https://api-v1.mobileminder.com';
              //var baseUrl = 'http://localhost:5000'

              $scope.recaptcha = Math.random().toString(36).substring(10);

              $scope.toggleAgreement = function(){
                  $('#agreement').slideToggle();
              }

              $scope.switch = function(){
                //$scope.ifSingup = (container == 'signin') ? false : true;
                if($('#signInForm').is(':visible')){
                   $('#signInForm').hide();
                   $('#signUpForm').show();
                }
                else{
                   $('#signUpForm').hide();
                   $('#signInForm').show();
                }
              };

              $scope.forgotPassword = function(){
                  if($('#signInForm').is(':visible')){
                     $('#signInForm').hide();
                     $('#forgotPasswordDiv').show();
                  }
                  else{
                     $('#forgotPasswordDiv').hide();
                     $('#signInForm').show();
                  }
              };

              $scope.resetPasswordSubmit = function(){
                //console.log('Forgot password submit');
                //console.log($scope.resetPassword);
                $scope.spinner = true;

                $scope.resetPassword.email = $scope.resetPassword.email.toLowerCase();



                 $http.post(baseUrl+"/api/accounts/reset_password", $scope.resetPassword).
                      success(function (data, status, headers, config) {
                           // TODO
                          //console.log(data);

                          $scope.spinner = false;


                          $scope.loginSuccessResponse = "Password reset link is sent to your email.";
                              $timeout(function(){
                                  $scope.loginSuccessResponse = "";
                                  $scope.resetPassword = null;
                           }, 3000);


                      }).
                      error(function (data, status, headers, config) {
                           // TODO
                           //console.log(status);
                           $scope.spinner = false;
                           if(status == 400){
                              console.log(data);
                              $scope.loginFailResponse = data.description;
                              $timeout(function(){
                                  $scope.loginFailResponse = "";
                                  $scope.reset(true);
                              }, 3000);
                           }
                  });
              }

              $scope.login = function(){
                //console.log("I am gonna login baby");

                $scope.spinner = true;
                $scope.userLogin.email = $scope.userLogin.email.toLowerCase();
                $http.post(baseUrl+"/api/accounts/login", $scope.userLogin).
                      success(function (data, status, headers, config) {
                           // TODO
                          //console.log(data);
                          $scope.spinner = false;


                          storage.set('oauthToken',data.token);
                          storage.set('login_count',data.login_count);
                          storage.set('unlock_code',data.unlock_code);
                          localStorage.setItem("intercom_app_id",data.intercom_app_id);
                          localStorage.setItem("user_hash",data.user_hash);
                          localStorage.setItem("account_id",data.id);


                          if(data.default_device){
                            storage.set('default_device',data.default_device[0]);
                          }

                          //console.log(headers);

                          $scope.redirectUser(data);
                      }).
                      error(function (data, status, headers, config) {
                           // TODO
                           //console.log(status);
                           $scope.spinner = false;
                           if(status == 400){
                              console.log(data);
                              $scope.loginFailResponse = data.description[0];
                              $timeout(function(){
                                  $scope.loginFailResponse = "";
                                  $scope.reset(true);
                              }, 3000);
                           }
                });

              };

              $scope.signUp = function(){
                $scope.spinner = true;
                $scope.newUser.email = $scope.newUser.email.toLowerCase();
                if($scope.newUser.password != $scope.newUser.password_confirm){
                  $scope.signUpFailResponse="Passwords didnt match";
                  $scope.spinner = false;
                  $timeout(function(){
                                $scope.signUpFailResponse = "";
                        }, 3000);
                }
                else if($scope.userRecaptcha != $scope.recaptcha){
                    console.log(" didnt match");
                    $scope.signUpFailResponse="Security codes didnt match";
                    $scope.spinner = false;
                    $timeout(function(){
                                $scope.signUpFailResponse = "";
                        }, 3000);
                }

                else
                {


                   if($scope.mmFeedback != 'Other'){
                      $scope.newUser['heard_from'] = $scope.mmFeedback;
                   }


                   $http.post(baseUrl+'/api/accounts/signup', $scope.newUser).
                      success(function (data, status, headers, config) {
                           // TODO
                          console.log(data);
                          storage.set('oauthToken',data.token);
                          storage.set('login_count',data.login_count);
                          storage.set('unlock_code',data.unlock_code);
                          localStorage.setItem('intercom_app_id',data.intercom_app_id);
                          localStorage.setItem('user_hash',data.user_hash);
                          localStorage.setItem("account_id",data.id);

                          $scope.spinner = false;

                          if(data.default_device){
                            storage.set('default_device',data.default_device[0]);
                          }

                          //$scope.intercomDetails();
                          //console.log($cookies['authToken']);
                          //console.log($cookies['user_type']);
                          //console.log($cookies['user_name']);
                          //console.log($cookies['school_id']);
                          $scope.redirectUser(data);
                      }).
                      error(function (data, status, headers, config) {
                           // TODO
                           console.log(data);
                           $scope.spinner = false;
                           if(status == 400){
                                  $scope.signUpFailResponse = data.description[0];
                                  $timeout(function(){
                                      $scope.signUpFailResponse = "";
                                      $scope.reset(true);
                                  }, 3000);
                           }
                           else{
                                  $scope.signUpFailResponse = "Something went wrong.";
                                  $timeout(function(){
                                      $scope.signUpFailResponse = "";
                                      $scope.reset(true);
                                  }, 3000);
                           }
                    });
                  console.log("Gonna create a new user");
                 }
              };

              $scope.reset = function(login) {
                if(login){
                  $scope.loginForm.$setPristine();
                      $scope.userLogin = '';
                  }

                };

              $scope.redirectUser = function(data){
                    //console.log("redirecting the user");
                    //console.log(usertype);


                    var _isNotMobile = (function() {
                    var check = false;
                        (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
                         return !check;
                    })();

                    if(_isNotMobile){
                      if(!data.default_device){
                        console.log("There is no device");
                        $window.location.href = '/#/nodevices';
                      }
                      else{
                        console.log(data.default_device[0].active)
                        if(!data.default_device[0].active){
                          console.log('The device is not active');
                          $window.location.href = '/#/expired';
                        }
                        else{
                          console.log('device is active');
                          $window.location.href = '/';
                        }

                      }
                    }
                    else{
                      console.log("This is gonna be a mobile view");
                      $window.location.href = '/m/';
                      //storage.clearAll();
                    }





              };

              $scope.intercomDetails = function(){

                  $http({
                      method: 'GET',
                      url: baseUrl+'/api/intercom/account/current',
                      dataType: 'json',
                      cache: false,
                      headers: {'Authorization': "JWT "+storage.get('oauthToken')}
                   }).success(function(data){
                      // With the data succesfully returned, call our callback
                      //callbackFunc(data);
                      console.log(data);
                      $.each(data, function(key, value){
                       window.intercomSettings[key] = value;
                      });

                  }).error(function(){
                      console.log("Error with intercom account details");
                  });

                  $http({
                      method: 'GET',
                      url: baseUrl+'/api/intercom/device/'+storage.get('default_device').id,
                      dataType: 'json',
                      cache: false,
                      headers: {'Authorization': "JWT "+storage.get('oauthToken')}
                   }).success(function(data){
                      // With the data succesfully returned, call our callback
                      //callbackFunc(data);
                      console.log(data);
                     if(!$.isEmptyObject(data))
                     {
                          window.intercomSettings["company"] = data;
                     }

                  }).error(function(){
                      console.log("Error with intercom device details");
                  });


              }





            }]).run(function (storage,$window) {
                //console.log("Inside the run method");
                //console.log("inside the run method");
                if(storage.get('oauthToken')){
                    //$scope.redirectUser(storage.get('user_type'));
                    //console.log("Cookies are set boi");
                    //console.log("inside the token is set");
                    $window.location.href = '/';

                }
        });

      </script>


    </body>
</html>
