
<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css styles/vendor.css -->

      <!-- endbuild -->
      <!-- build:css({.tmp,app}) styles/main.css -->
      <link rel="stylesheet" href="styles/bootstrap.css">
      <link rel="stylesheet" href="styles/bootstrap-responsive.css">
      <link rel="stylesheet" href="styles/theme.bootstrap.css">
      <link rel="stylesheet" href="styles/font-awesome.css">

      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="styles/inline.css">
      <link rel="stylesheet" href="styles/uninstall.css">
      <link rel="stylesheet" href="styles/component.css">


    <!-- endbuild -->
  </head>

      <body ng-app="mobileminderAuthApp" >


        <div id="wrap" ng-controller="loginCtrl">


          <div id="bodywrapper" class="container">
            <div class="row">


              <!-- BODY -->
              <div class="span10 mainDash noMargin">
                <div class="container">

                  <div class="row">

                    <div class="span4 offset4 well" id="signInForm" >

                        <legend>
                            <div class="row-fluid">
                                <span class="span3">
                                  <img src="../images/dashlogo.png"  alt="MobileMinder"/>
                                </span>
                                <span class="span9">
                                    <span style="float: right;margin-top: 43px;font-weight:bold;">Sign In</span>
                                </span>

                            </div>
                        </legend>

                      <div class="alert alert-danger noBorderRadius" ng-show="passwordResetFailResponse">
                        <strong ng-bind="passwordResetFailResponse"></strong>
                      </div>
                      <div class="alert alert-success noBorderRadius" ng-show="passwordResetSuccess">
                        <strong ng-bind="passwordResetSuccess"></strong>
                      </div>
                      <form name="resetPassword" novalidate>


                        <div ng-class="{ 'has-error' : resetPassword.name.$invalid && !resetPassword.name.$pristine }">
                          <label>New Password</label>
                          <input type="password" name="newPassword" class="span4 noBorderRadius" ng-model="user.new_password" required>
                          <p class="alert-error" ng-show="resetPassword.newPassword.$invalid && !resetPassword.newPassword.$pristine" class="alert-error">Password is required.</p>
                        </div>
                        <div ng-class="{ 'has-error' : resetPassword.name.$invalid && !resetPassword.name.$pristine }">
                          <label>Confirm Password</label>
                          <input type="password" name="confirmPassword" class="span4 noBorderRadius" ng-model="user.new_password_confirm" required>
                          <p class="alert-error" ng-show="resetPassword.confirmPassword.$invalid && !resetPassword.confirmPassword.$pristine" class="alert-error">Password is required.</p>
                        </div>

                        <button class="btn btn-info" ng-disabled="resetPassword.$invalid" ng-click="resetPasswordSubmit()">Submit</button>
                        <i class="icon-spinner icon-spin" ng-show="spinner"></i>
                        <a href="/login.html" class="btn mmgreen pull-right cursor">Login</a>

                      </form>
                    </div>


                </div>
              </div>

            </div>
          </div>
        </div>
        <div>


        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/bootstrap/js/bootstrap.js"></script>
        <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>



        <script type="text/javascript">

          angular.module("mobileminderAuthApp", ['angularLocalStorage'])
          .controller('loginCtrl',['$scope','$timeout','storage','$http','$window',function ($scope,$timeout,storage,$http,$window){

              $http.defaults.headers.post["Content-Type"] = "application/json";


              var baseUrl = 'https://api-v1.mobileminder.com';
              //var baseUrl = 'http://localhost:5000'

              $scope.init = function(){

                  var url = window.location.href;
                  console.log(window.location.href);
                  $scope.data_url = $scope.getDataUrl(url);
                  if($scope.data_url == null){
                     window.location.href = '404.html';
                  }
                  //console.log(data_url)  ;

              }

              $scope.getDataUrl = function(url) {
                 // http://coursesweb.net/javascript/
                   if(url.match(/\?([^#]*)/i) != null){
                       var url_data = url.match(/\?([^#]*)/i)[1];          // gets the string between '?' and '#'

                       // separate the data into an array, in case the are multiple pairs name=value
                       var ar_url_data = url_data.split('&');

                       // traverse the array, and adds into an object elements name:value
                       var data_url = {};
                       for(var i=0; i<ar_url_data.length; i++) {
                         var ar_val = ar_url_data[i].split('=');           // separate name and value from each pair
                         data_url[ar_val[0]] = ar_val[1];
                       }

                       return data_url;
                   }
                   else{
                       return null;
                   }
              }

              $scope.resetPasswordSubmit = function(){
                console.log('Forgot password submit');
                console.log($scope.user);



                $scope.spinner = true;

                if($scope.user['new_password'] != $scope.user['new_password_confirm']){
                    $scope.spinner = false;

                    $scope.passwordResetFailResponse = "Passwords didnt match.";
                    $timeout(function(){
                        $scope.passwordResetFailResponse = "";
                        $scope.reset();
                    }, 3000);
                }
                else{

                     $http({method: 'PUT', url: baseUrl+"/api/accounts/reset_password",
                                headers: {'Authorization': 'JWT '+$scope.data_url['token'],},data:$scope.user}).
                      success(function(data, status, headers, config) {
                           console.log(data);
                          $scope.spinner = false;
                          $scope.passwordResetSuccess = "Passwords reset succesfull.Please login.";
                          $timeout(function(){
                              $scope.passwordResetSuccess = "";
                              $scope.reset();
                          }, 3000);

                      }).
                      error(function(data, status, headers, config) {
                          $scope.spinner = false;
                          $scope.passwordResetFailResponse = "Passwords didnt match.";
                          $timeout(function(){
                              $scope.passwordResetFailResponse = "";
                              $scope.reset();
                          }, 3000);
                      });


                }

              }



              $scope.reset = function() {
                  $scope.resetPassword.$setPristine();
                  $scope.user = '';

                };


              $scope.init();






            }]).run(function (storage,$window) {
                //console.log("Inside the run method");
                console.log("inside the run method");
                if(storage.get('oauthToken')){
                    //$scope.redirectUser(storage.get('user_type'));
                    //console.log("Cookies are set boi");
                    console.log("inside the token is set");
                    $window.location.href = '/';

                }
        });

      </script>


    </body>
</html>
