<div id="activityOverview" class="well noMarginBottom">
	
<div class="row-fluid">
	<div class="span4 ">
		<h5>Recent Contacts</h5>
		<div id="recentContactList" class="well whiteBackground">
			<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentContacts">
                <strong> No Recent Contacts</strong>
            </div>
			<table class="table">
				<tbody>

					<tr ng-repeat="contact in recentContacts">
						<td ng-mouseenter="hover = true" ng-mouseleave="hover = false" >
							<i class="icon-bullseye pull-right red" ng-show="contact.is_flagged" ></i> 
							<span>
								<img ng-src="{{contact.photo_url || defaultProfilePic}}" class="pull-left" height="42" width="42">
								<span class="contactName" ng-bind="contact.name | limitTo: 12"></span>
								<br>
								<span class="pull-left contactNo" ng-bind="contact.number"></span>
							</span>
						</td>
					</tr>
													
				</tbody>
			</table>
		</div>				
	 </div>
	<div id class="span4 "> 
		<h5>Recent Alerts</h5>

		<div id="recentAlerts" class="well whiteBackground">
			<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentAlerts">
                <strong> No Recent Alerts</strong>
            </div>
	
			<div ng-repeat="alert in recentAlerts" class="accordion-group gfs background">
					<div class="accordion-heading">
						<div class="accordion-toggle muted">
							<div class="fenceName 6">
								<i class="icon-location-arrow"></i> &nbsp;: <span ng-bind="alert.geofence_name"></span></div>
							<div><i class="icon-signal"></i> &nbsp;: <span ng-bind="alert.status"></span></div>
							<div><i class="icon-time"></i> &nbsp;: <span ng-bind="alert.timestamp"></span></div>
						</div>
					</div>
			</div>
		

		</div>	
	</div>
	<div class="span4 ">
		<h5>Recent Photos</h5>
		<div id="recentPhotos" class="well whiteBackground">

				<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentPhotos">
	                <strong> No Recent Photos.</strong>
	            </div>
				<span class="pull-left " ng-repeat="photo in recentPhotos">
						<a class="thumbnail recentImages" >
							<img style="width: 100px; height: 60px;" ng-src="{{photo.url}}"/>
						</a>
				</span>					
						
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 well noMarginBottom whiteBackground" >
			
			<div class="tabbable"> <!-- Only required for left/right tabs -->
				<ul class="nav nav-tabs callsAndTextTab">
					<li id="callsContainerTab" class="active"><a class="callsNav mmlink" href=".tab2 " data-toggle="tab"><strong>Apps</strong></a></li>
					<li id="flaggedWordsContainerTab"><a class="flagTableNav mmlink" href=".tab3 " data-toggle="tab"><strong>Websites</strong></a></li>
					<li id="serverResponse" style="display:none; padding-left:10px;"></li>
				</ul>
				<div class="tab-content">
			
					<div class="tab-pane tab2 tabHeight active">
						<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentApps">
			                <strong> No Recent Apps</strong>
			            </div>

						<table ng-hide="noRecentApps" class="table " id="appWrap">
							
							<tbody>
								<tr ng-repeat="app in recentApps" >

									<td>
										<span class="pull-left">
											<img class="appIcon" ng-src="{{app.icon_url}}">
										</span>
										<span class="appName pull-left" ng-bind="app.name"></span>
										<span class="badge mmorange noBold appsDuration"><span ng-bind="app.duration"></span> secs</span>
									</td>
								
									<td>
										<span class="lockIcon">
										
											<!-- if app blocked -->
											<button id="{{app.id}}" ng-if="app.block_status == 'blocked'" class="btn btn-danger" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-lock"></i></button>												

											<!-- if app unblocked -->
											<button id="{{app.id}}" ng-if="app.block_status == 'unblocked'" class="btn mmgreen" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-unlock-alt "></i></button>


										</span>
									</td>


								</tr>

							</tbody>

							
						</table>
					</div>
					<div class="tab-pane tab3 tabHeight">
						<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentWebsites">
			                <strong> No Recent Websites</strong>
			            </div>

						<table ng-hide="noRecentWebsites" class="table noMarginBottom"><colgroup></colgroup>
											
											<tbody>
												<tr ng-repeat="website in recentWebsites">
													<td class="paddingTB20" ng-bind="website.url"></td>
													<td class="paddingTB20"><span class="label mmblue noBold" ng-bind="website.start_at"></span></td>
													<td class="valign"><span class="badge mmorange noBold"><span ng-bind="website.duration"></span> sec(s)</span></td>
													
												</tr>
												
												
											</tbody>
										</table>
					</div>
				</div>
			</div>
		</div>

</div>

</div>