<div id="phoneappsOverview" class="noMarginBottom">


	 	
	<div id="applistDiv">
		<div class="control-group noMarginBottom">
            <div class="alert alert-danger bs-alert-old-docs" ng-show="appUpdateError">
                <strong>Something went wrong.</strong>
            </div>
            <div class="alert alert-success bs-alert-old-docs" ng-show="appUpdateSuccess">
                <strong>App Updated Successfully.</strong>
            </div>
    	</div>
		<table class="table tabler-hover" id="appWrap"><colgroup></colgroup>
			<!--<thead>
				<tr class="tablesorter-headerRow">
					<th data-sorter="false" data-column="0" class="tablesorter-header sorter-false bootstrap-header" tabindex="0" unselectable="on"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
						<h4>App Name</h4>
					</div></div></th>
					<th id="timespendDemo" class="textCenter tablesorter-header sorter-false bootstrap-header" data-sorter="false" data-column="1" tabindex="0" unselectable="on"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
						<h4>Time Spent</h4>
						<i class=""></i></div></div></th>
						<th id="blockDemo" class="textCenter tablesorter-header sorter-false bootstrap-header" data-sorter="false" data-column="2" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
							<h4>Block</h4>
						</div></div></th>
					</tr>
				</thead> -->

				<tbody>
					<tr ng-repeat="app in appList|filter:searchApp|filter:category" >

						<td>
							<span class="pull-left">
								<img class="appIcon" ng-src="{{app.icon_url}}">
							</span>
							<span class="appName pull-left" ng-bind="app.name"></span>
							<span class="badge mmorange noBold appsDuration"><span ng-bind="app.duration"></span></span>
						</td>
					
						<td>
							<span class="lockIcon">
							
								<!-- if app blocked -->
								<button id="{{app.id}}" ng-if="app.block_status == 'blocked'" class="btn btn-danger" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-lock"></i></button>												

								<!-- if app unblocked -->
								<button id="{{app.id}}" ng-if="app.block_status == 'unblocked'" class="btn mmgreen" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-unlock-alt "></i></button>


							</span>
						</td>


					</tr>

				</tbody>
			</table>
		</div>
	</div>

</div>
