<div id="trialIFrame" class="well whiteBackground">
	
	
	<div id="settingOuter" class="grid_16 alpha omega settingOuter">
		<div id="desDiv" class="grid_16 alpha omega settingInner"></div>
		<div id="feaDiv" class="grid_8 alpha omega settingInner"></div>

			
			
			<div class=" infobox">
					<div class="row-fluid"> 
					<div class="span2 pull-left" style="padding-top:8px;text-align:center;">
					
						<img src="../images/newDash/addDevice/info.png" alt="MobileMinder">
						
					</div>
					<div class="span10 pull-right ">
						<span class="infotext">Your MobileMinder subscription for <span id="activeDeviceNameContainer" class="mmlink" ng-bind="currentDevice.name">?</span> has expired. To continue to protect your child using MobileMinder please choose one of our payment plans below. If you have any queries please feel free to <a href="http://www.mobileminder.com/contact/" class="mmblack" target="_blank"><strong>contact us.</strong></a> </span>
					</div>
					</div>	
				</div>
			<div class="row-fluid pricing-table pricing-three-column well" style="background:#fff;">
				<div class="span6">
				  <div class="row-fluid">
				     <div class="span7 yearlyImageDiv"></div>
					  <div class="span4 planTextDiv">
					    <h1 class="text-center">$19.99</h1>				
						<h5 class="text-center">Per Device</h5>
						<h5 class="text-center">Per Year</h5>					
						<button class="btn btn-large btn-block mmorange" ng-click="submitPayment('mm12monthusd')" ng-disabled="buttonDisable">Buy Now</button>
					  </div>
				  </div>
				  <div class="row-fluid">
				  	<div class="span12 text-center">
				  		<h4 class="text-center">OR</h4>
				  		<p class="text-center">Subscribe with</p>
				  		<img class="btn payBtn" data-btntype="sub_A" data-month="12months" src="../images/payment/paypal/paypal-pay-now.png" style="padding:0;width:160px;height:70px;border:1px solid #e3e3e3">
				  	</div>
				  </div>
				</div>
  				<div class="span6">
  				  <div class="row-fluid">
  				     <div class="span7 familyImageDiv">
	  				  </div>
					  <div class="span4 planTextDiv">
					    <h1 class="text-center">$34.99</h1>
						<h5 class="text-center">Family Plan</h5>
						<h5 class="text-center">Per Year</h5>
						<button class="btn btn-large btn-block mmorange" ng-click="submitPayment('mmfamilyusd')" ng-disabled="buttonDisable">Buy Now</button>
					  </div>
  				  </div>
  				  <div class="row-fluid">
				  	<div class="span12 text-center">
				  		<h4 class="text-center">OR</h4>
				  		<p class="text-center">Subscribe with</p>
				  		<img class="btn payBtn" data-btntype="sub_F" data-month="12months" src="../images/payment/paypal/paypal-pay-now.png" style="padding:0;width:160px;height:70px;border:1px solid #e3e3e3">
				  	</div>
				  </div>
				</div>
			  </div>
			  <div class="row-fluid">
				<div class="span12 pull-right text-right" style="padding:15px;">
					<img src="../images/payment/stripe/logo/visa.png">
					<img src="../images/payment/stripe/logo/master_card.png">
					<img src="../images/payment/stripe/logo/discover.png">
					<img src="../images/payment/stripe/logo/american_express.png">
					<img src="../images/payment/stripe/logo/jcb.gif" style="width:32px; height:20px;">
					<img src="../images/payment/stripe/logo/diners_club.png">
				</div>
			  </div>
			  <div class="row-fluid">
			     <div class="span12 pull-right text-right">
			         <span>Please note all credit card payments are handled by Stripe Inc.</span>
			     </div>
			  </div>
			  <!-- Button to trigger modal -->
				<a href="#post-box" role="button" class="btn" style="display:none;" data-toggle="modal"></a>
				 
				<!-- Modal -->
				<div id="post-box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close post-close-action" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Get One Month Free</h3>
				  </div>
				  <div id="post-return-msg" class="alert alert-block" style="display:none;">
					  <button type="button" class="close" data-dismiss="alert">×</button>
					  <p></p>
					</div>
				  <div class="modal-body">
				    <p>Share us on Facebook and receive one month free use of MobileMinder. Or click 'Close' to continue to payment.</p>
				    <p><a id="free-share-fb-btn" class="button fb">Share</a></p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn post-close-action" data-dismiss="modal" aria-hidden="true">Close</button>
				  </div>
				</div>
		</div>

    </div>
