<footer id="footer">
  <div class="container" >
    <div class="row">
      <strong><hr></strong>
      <span class="pull-left">      
        <a href="http://www.mobileminder.com/faq.html" class="mmblack" target="_blank"><strong>FAQs</strong></a> | 
        <a href="http://www.mobileminder.com/privacy-policy.html" class="mmblack" target="_blank"><strong>Privacy Policy</strong></a> | 
        <a href="http://www.mobileminder.com/terms-and-conditions.html" class="mmblack" target="_blank"><strong>Terms and Conditions</strong></a>
      </span>
      <!--  <span class="pull-right"><a href="http://www.mobileminder.com/contact/" target="_blank"><button id="contactUsBtn" class="btn"><i class="icon-envelope"></i>&nbsp;&nbsp; Contact Us</button></a></span>-->

    </div>
  </div>
</footer>