<div id="galleryContainer" class="well noMarginBottom">
	
	<div class="alert alert-info bs-alert-old-docs" ng-show="noImages">
        <strong>No images.</strong>
    </div> 
	<ul class="thumbnails">
		<li class="span2" ng-repeat="image in imageList">
			<a class="thumbnail" ng-click="enlargeImage(image,$index)">
				<img class="imageBlack" ng-src="{{image.url}}" alt="" style="width: 180px; height: 100px;">
			</a>
		</li>
	</ul>
</div>
<div id="galleryModal" class="modal hide fade">
	<div class="modal-header">
		<span ng-show="spinner" class="pull-left"><i class="icon-spinner icon-spin icon-large"></i></span>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Gallery</h4>


	</div>
	<div class="modal-body">
		<span>
            <div class="alert alert-danger bs-alert-old-docs " ng-show="imageDeletionError">
                <strong ng-bind="imageDeletionError"></strong>
            </div>
          
        </span>

		<img ng-src="{{currentImage.url}}" alt="" style="width: 525px; height: 300px;">
	</div>
	<div class="modal-footer">
		<button class="btn pull-left" ng-click="deleteImage(currentIndex,currentImage)" >
			<i class="icon-trash"></i>
			&nbsp;Delete
		</button>
		<div class="btn-group">
		  <button ng-hide="hidePrevBtn" class="btn" ng-click="prev(currentIndex,currentImage)">
			<i class="icon-chevron-left"></i>
			&nbsp;Previous
		  </button>
		  <button ng-hide="hideNextBtn" class="btn" ng-click="next(currentIndex,currentImage)">
				Next &nbsp;
			<i class="icon-chevron-right"></i>
		  </button>
		</div>
	</div>
</div>