<div id="header" class="navbar">
        <div class="navbar-inner">
         <div class="container">
          <div class="row">
            <div class="span12 noMargin ">
              <!--Body content--> 
              <div class="pull-left">
                  <button id="openNavSliderBtn" type="button" class="btn btn-navbar" ng-click="openNavigationBar()">
                    <span id="totalAlertCount" class="badge mmorange alertCircle"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              </div>
           
             <div class="pull-right" >
                <div id="profileImgContainer" class="pull-right">
                  <a><img class="img-rounded" id="activeDeviceProfileImage" ng-src="{{currentDevice.profile_icon_url || defaultProfilePic}}"  width="80" height="80"></a>
                 
                </div>
                <div class="btn-group settingCtrls" id="headerBtns">                 
                 
                  <a class="btn dropdown-toggle" data-toggle="dropdown"><span ng-bind="currentDevice.name"></span>
                    &nbsp;<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" >
                      <li ng-repeat="device in deviceList" ng-click="setCurrentDevice(device)">
                        <table style="margin:0px 5px;">
                          <tbody>
                            <tr>
                              <td>
                                 <img id="activeDeviceProfileImage" ng-src="{{device.profile_icon_url || defaultProfilePic}}"  width="24" height="24">
                              </td>
                              <td>
                                 <a ng-bind="device.name"></a>
                              </td>
                            </tr>
                          </tbody>
                         
                         
                        </table>
                      </li>
                  </ul>
                  <a class="btn" id="signOut" ng-click="signOut()"><i class="icon-off"></i></a>
                  <!--<a class="btn" id="openDemo" ng-click="openDemo()" ><i class="icon-lightbulb"></i></a>
                  <a class="btn" id="userSettings"  ng-click="openModal()"><i class="icon-cog"></i></a> -->
              
            </div>
            <!-- profile picture -->

          


          </div> <!-- /span5 -->


        </div> <!-- /row-fluid-->
      </div><!-- navbar-inner-->
    </div>
  </div>
  </div>

