<div id="mapContainer">

	<div id="alerts" class="well noMarginBottom">
		<ul class="nav nav-tabs">
			<!--<li class="active"><a href=".alertsTab" data-toggle="tab"><i class="icon-map-marker"></i> <b>Alert Zones</b></a></li>  -->
			<li class="active"><a href=".alertZonesTab" data-toggle="tab"><i class="icon-bell-alt"></i> <b>Alerts</b></a></li>
			<li class="pull-right" >
				<button class="btn btn-small" ng-click="openSideBar()" style="margin-bottom: -27px;" >Close</button>
			</li>
			
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane  in alertsTab">
				<div class="control-group">
                    <div class="alert alert-danger bs-alert-old-docs" ng-show="zoneResponseError">
                      <strong ng-bind="zoneResponseError"></strong>
                    </div>
                    <div class="alert alert-success bs-alert-old-docs" ng-show="zoneResponseSuccess">
                      <strong ng-bind="zoneResponseSuccess"></strong>
                    </div>                  
                </div>
				<button class="btn btn-small mmblue" ng-click="toggleNewZone()">Add</button>
				<span class="pull-right" ng-show="geofenceSpinner"><i class="icon-spinner icon-spin" ></i></span>
				<div class="accordion-group gfs" ng-show="newAlertZone">         
					<div class="accordion-heading">
						<a class="accordion-toggle" >
							<span class="fenceName">New AlertZone</span>
						</a>
					</div>
					<div class="accordion-body collapse insideCollapse in">
						<div class="accordion-inner">
							
							
							<div class="marignTop16">
								<input ng-model="alertZoneName" class="gfName input-small" type="text" maxlength="25"  placeholder="Name">
							</div>
						
							
							<div class="geoRanges marginTop12">
								<p>Range(in mts)</p>							
								<div class="btn-group" data-toggle="buttons-radio" >								
								  <button class="btn geofenceRangeBtn active" ng-class="{active:sliderValue == 500}" ng-click="sliderRange(500);sliderValue = 500">500</button>
								  <button class="btn geofenceRangeBtn" ng-class="{active:sliderValue == 800}" ng-click="sliderRange(800);sliderValue = 800">800</button>
								  <button class="btn geofenceRangeBtn" ng-class="{active:sliderValue == 1000}" ng-click="sliderRange(1000);sliderValue = 1000">1000</button>
								  <button class="btn geofenceRangeBtn" ng-class="{active:sliderValue == 1200}" ng-click="sliderRange(1200);sliderValue = 1200">1200</button>
								  <button class="btn geofenceRangeBtn" ng-class="{active:sliderValue == 1500}" ng-click="sliderRange(1500);sliderValue = 1500">1500</button>
								</div>
							</div>
							<div class="geoConfirmBtns ">
								<div class="btn-group">
									<button class="btn btn-small saveBtn" ng-class="{mmblue:alertZoneName}" ng-click="createAlertZone(alertZoneName)" ng-disabled="!(!!alertZoneName)">Save</button>
									<button class="btn btn-small cancelBtn" ng-click="toggleNewZone()">Close</button>
								</div>
							</div>

						</div>
					</div> <!--/accordion-inner-->

				</div>

				<div class="marginTop4">
					<div ng-repeat="zone in alertZones" class="accordion-group gfs">         
						<div class="accordion-heading">
							<a class="accordion-toggle" >
								<span class="fenceName" ng-bind="zone.name"></span>
								<div class="btn-group pull-right">
									<button class="edit btn btn-small" ng-click="openZone(zone,$index)" ng-disabled="disableZoneEdit[zone.id]"><i class="icon-pencil"></i></button>
									<button class="delete btn btn-small" ng-click="deleteZone(zone,$index)"><i class="icon-trash"></i></button>
								</div>
							</a>
						</div>
						<div class="accordion-body collapse insideCollapse {{zone.id}} alertZone">
							<div class="accordion-inner">


								<div class="marignTop16">
									<input ng-model="zone.name" class="gfName input-small" type="text" maxlength="25"  placeholder="Name">
								</div>
								<div class="geoRanges marginTop12">
									<p>Range</p>
									<div class="btn-group" data-toggle="buttons-radio" >								
									  <button class="btn geofenceRangeBtn" ng-class="{active:zone.radius == 500}" ng-click="sliderRange(500,$index);currentRadiusValue_zone.id = 500">500</button>
									  <button class="btn geofenceRangeBtn" ng-class="{active:zone.radius == 800}" ng-click="sliderRange(800,$index);currentRadiusValue_zone.id = 800">800</button>
									  <button class="btn geofenceRangeBtn" ng-class="{active:zone.radius == 1000}" ng-click="sliderRange(1000,$index);currentRadiusValue_zone.id = 1000">1000</button>
									  <button class="btn geofenceRangeBtn" ng-class="{active:zone.radius == 1200}" ng-click="sliderRange(1200,$index);currentRadiusValue_zone.id = 1200">1200</button>
									  <button class="btn geofenceRangeBtn" ng-class="{active:zone.radius == 1500}" ng-click="sliderRange(1500,$index);currentRadiusValue_zone.id = 1500">1500</button>
									</div>				
									
								</div>
								<div class="geoConfirmBtns ">
									<div class="btn-group">
										<button class="btn btn-small mmblue saveBtn" ng-click="updateAlertZone(zone,$index,currentRadiusValue_zone.id)">Save</button>
										<button class="btn btn-small cancelBtn" ng-click="closeZone(zone,$index)">Close</button>
									</div>
								</div>

							</div>
						</div> <!--/accordion-inner-->

					</div>
				</div>


			</div>
			<div class="tab-pane active alertZonesTab">
				<div class="alert alert-info bs-alert-old-docs" ng-show="alertsInfo">
                    <strong ng-bind="alertsInfo"></strong>
                </div> 
				<div class="accordion-group gfs background" ng-repeat="log in geofenceLog" >
					<div class="accordion-heading">
						<div class="accordion-toggle muted">
							<div class="fenceName 6">
								<i class="icon-location-arrow"></i> &nbsp;: <span ng-bind="log.geofence_name"></span></div>
							<div><i class="icon-signal"></i> &nbsp;: <span ng-bind="log.status"></span></div>
							<div><i class="icon-time"></i> &nbsp;: <span ng-bind="log.timestamp"></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>	




	<div id="mapCtrlBtnsContainer">
		<button ng-click="deviceCurrentLocation()" class="btn mmblue" data-original-title="" title=""><i class="icon-screenshot"></i></button>
		<button ng-click="openSideBar()" class="btn mmblue"><i class="icon-align-justify"></i></button>
	</div>



	<div id="mapDiv" >
		<map id="mapContainerDiv" center="{{mapCenter}}" zoom="2">
			<marker ng-repeat="p in testData" position="p"></marker>
	    </map>
	</div>
	
</div>








