<div id="navSlider" class="navPullTop">
    <ul class="nav nav-tabs nav-stacked">


     <li class="" ng-click="closeNavBar()">
        <a id="locationLink" href="#/activity">
          <table width="100%">
            <tr>
              <td width="80%">
                <span class="pull-left"><strong>Activity</strong></span>
                <span id="locationAlerts" class="badge mmblue pull-right"></span>
              </td>
              <td width="20%" style="text-align:center;"><i class="icon-th"></i></td>
            </tr>
          </table>
        </a>
      </li>

      <li class="" ng-click="closeNavBar()">
        <a id="locationLink" href="#/location">
          <table width="100%">
            <tr>
              <td width="80%">
                <span class="pull-left"><strong>Location</strong></span>
                <span id="locationAlerts" class="badge mmblue pull-right"></span>
              </td>
              <td width="20%" style="text-align:center;"><i class="icon-map-marker"></i></td>
            </tr>
          </table>
        </a>
      </li>
      <li class="" ng-click="closeNavBar()" ng-if="currentDevice.type != 'tablet'">
        <a id="calltextLink" href="#/callAndText">
          <table width="100%">
            <tr>
              <td width="80%">
                <span class="pull-left"><strong>Call & Texts</strong></span>
                <span id="calltextAlerts" class="badge mmblue pull-right"></span>
              </td>
              <td width="20%" style="text-align:center;"><i class="icon-comments-alt "></i></td>
            </tr>
          </table>
        </a>
      </li>
      <li class="" ng-click="closeNavBar()">
        <a id="galleryLink" href="#/gallery">
          <table width="100%">
            <tr>
              <td width="80%">
                <span class="pull-left"><strong>Gallery</strong></span>
                <span id="galleryAlerts" class="badge mmblue pull-right"></span>
              </td>
              <td width="20" style="text-align:center;"><i class="icon-picture"></i></td>
            </tr>
          </table>
        </a>
      </li>
      <li class="" ng-click="closeNavBar()">
        <a id="appsLink" href="#/apps">
          <table width="100%">
            <tr>
              <td width="80%">
                <span class="pull-left"><strong>Apps</strong></span>
                <span id="appsAlerts" class="badge mmblue pull-right"></span>
              </td>
              <td width="20" style="text-align:center;"><i class="icon-tablet "></i></td>
            </tr>
          </table>
        </a>
      </li>
      <li class="" ng-click="closeNavBar()">
        <a id="websLink" href="#/internet">
          <table width="100%">
            <tr>
              <td width="80%">
                <span class="pull-left"><strong>Internet</strong></span>
                <span id="webAlerts" class="badge mmblue pull-right"></span>
              </td>
              <td width="20%" style="text-align:center;"><i class="icon-laptop"></i></td>
            </tr>
          </table>
        </a>
      </li>
      <li class="">
        <a id="freeTrailBuyNow" class="buyNowButton freeTrailBuyNow-en"></a>
      </li>
    </ul>
  </div>
