<div id="activityOverview" class="well noMarginBottom">

<div class="row-fluid">
	<div class="span4 ">
		<h5>Recent Contacts</h5>
		<div id="recentContactList" class="well whiteBackground">


			<div ng-if="currentDevice.type == 'Phone'">

				<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentContacts">
	                <strong> No Recent Contacts</strong>
	            </div>
				<table class="table" >
					<tbody>
			
						<tr ng-repeat="contact in recentContacts">
							<td ng-mouseenter="hover = true" ng-mouseleave="hover = false" >
								<!-- <i class="icon-bullseye pull-right red" ng-show="contact.is_flagged" ></i>  -->
								<span class="pull-right">
									<i class="icon-phone"></i> : <span ng-bind="contact.total_calls"></span>
								</span>
								<span>
									<img ng-src="{{contact.photo_url  || defaultProfilePic}}" class="pull-left" height="42" width="42">
									<span class="contactName" ng-bind="contact.name | limitTo: 12"></span>
									<br>
									<span class="pull-left contactNo" ng-bind="contact.number"></span>
								</span>
								<span class="pull-right">
									<i class="icon-comments">: <span ng-bind="contact.total_texts"></span></i>
								</span>

							</td>
						</tr>

					</tbody>
				</table>
			</div>


			<div ng-if="currentDevice.type == 'Tablet'">

				<div class="alert alert-info bs-alert-old-docs">
	                <strong> Not Available.</strong>
	            </div>
	        </div>

		</div>


	 </div>
	<div id class="span4 ">
		<h5>Recent Alerts</h5>
		<div id="recentAlerts" class="well whiteBackground">

			<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentAlerts">
                <strong> No Recent Alerts</strong>
            </div>

			<div ng-repeat="alert in recentAlerts" class="accordion-group gfs background">
					<div class="accordion-heading">
						<div class="accordion-toggle muted">
							<div class="fenceName 6">
								<i class="icon-location-arrow"></i> &nbsp;: <span ng-bind="alert.geofence_name"></span></div>
							<div><i class="icon-signal"></i> &nbsp;: <span ng-bind="alert.status"></span></div>
							<div><i class="icon-time"></i> &nbsp;: <span ng-bind="alert.timestamp"></span></div>
						</div>
					</div>
			</div>


		</div>
	</div>
	<div class="span4 ">
		<h5>Recent Photos</h5>
		<div id="recentPhotos" class="well whiteBackground">

				<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentPhotos">
	                <strong> No Recent Photos.</strong>
	            </div>
				<span class="pull-left " ng-repeat="photo in recentPhotos">
						<a class="thumbnail recentImages" >
							<img style="width: 100px; height: 60px;" ng-src="{{photo.url}}"/>
						</a>
				</span>

		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 well noMarginBottom whiteBackground" >

			<div class="tabbable"> <!-- Only required for left/right tabs -->
				<ul class="nav nav-tabs callsAndTextTab">
					<li id="callsContainerTab" class="active"><a class="callsNav mmlink" href=".tab2 " data-toggle="tab"><strong>Recent Apps</strong></a></li>
					<li id="flaggedWordsContainerTab"><a class="flagTableNav mmlink" href=".tab3 " data-toggle="tab"><strong>Recent Websites</strong></a></li>
					<li id="serverResponse" style="display:none; padding-left:10px;"></li>
				</ul>
				<div class="tab-content">

					<div class="tab-pane tab2 tabHeight active">
						<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentApps">
			                <strong>No Recent Apps</strong>
			            </div>
						<table ng-hide="noRecentApps" class="table table-hover tablesorter tablesorter-bootstrap table-bordered noMarginBottom" id="appWrap">
						<thead>
							<tr class="tablesorter-headerRow">
								<th data-sorter="false" data-column="0" class="tablesorter-header sorter-false bootstrap-header" tabindex="0" unselectable="on" style="padding:0px 4px !important;"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
									<h5>App Name</h4>
								</div></div></th>
								<th id="timespendDemo" class="textCenter tablesorter-header sorter-false bootstrap-header" data-sorter="false" data-column="1" tabindex="0" unselectable="on" style="padding:0px 4px !important;"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
									<h5>Time Spent</h5>
									<i class=""></i></div></div></th>
									<th id="blockDemo" class="textCenter tablesorter-header sorter-false bootstrap-header" data-sorter="false" data-column="2" tabindex="0" unselectable="on" style="padding:0px 4px !important;"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
										<h5>Block</h5>
									</div></div></th>
								</tr>
							</thead>

							<tbody>

								<tr  ng-repeat="app in recentApps" >

									<td>
										<span class="pull-left">
											<img class="appIcon" ng-src="{{app.icon_url}}">
										</span>
										<span class="appName pull-left" ng-bind="app.name"></span>
									</td>

									<td>
										<span class="badge mmorange noBold"><span ng-bind="app.duration"></span></span>
									</td>

									<td>
										<span class="lockIcon">

											<!-- if app blocked -->
											<button id="{{app.id}}" ng-if="app.block_status == 'blocked'" class="btn btn-danger" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-lock"></i></button>

											<!-- if app unblocked -->
											<button id="{{app.id}}" ng-if="app.block_status == 'unblocked'" class="btn mmgreen" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-unlock-alt "></i></button>


										</span>
									</td>


								</tr>

							</tbody>
						</table>
					</div>
					<div class="tab-pane tab3 tabHeight">

						<div class="alert alert-info bs-alert-old-docs" ng-show="noRecentWebsites">
			                <strong> No Recent Websites</strong>
			            </div>
						<table ng-hide="noRecentWebsites" class="table table-hover tablesorter table-bordered tablesorter-bootstrap hasFilters noMarginBottom"><colgroup></colgroup>
											<thead>
												<tr class="tablesorter-headerRow" >
													<th data-column="0" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="padding:0px 4px !important;"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
														<h5>Sites Visited</h5>
													 </div></div>
													 </th>
													<th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="1" tabindex="0" unselectable="on" style="padding:0px 4px !important;"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
														<h5>Date</h5>
													 </div></div>
													</th>
													<th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="2" tabindex="0" unselectable="on" style="padding:0px 4px !important;"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
														<h5>Time Spent</h5>
													</div></div>
													</th>
												</tr>
											</thead>
											<tbody>

												<tr ng-repeat="website in recentWebsites">
													<td ng-bind="website.url"></td>
													<td class="textCenter"><span class="label mmblue noBold" ng-bind="website.start_at"></span></td>
													<td class="textCenter"><span class="badge mmorange noBold "><span ng-bind="website.duration"></span></span> </td>
												</tr>
											</tbody>
										</table>
					</div>
				</div>
			</div>
		</div>

</div>

</div>
