<div id="phoneappsOverview" class="well noMarginBottom">

	<div id="phoneappHeader">	
		 <div class="control-group">
            <div class="alert alert-danger bs-alert-old-docs" ng-show="appUpdateError">
                <strong>Something went wrong.</strong>
            </div>
            <div class="alert alert-success bs-alert-old-docs" ng-show="appUpdateSuccess">
                <strong>App Updated Successfully.</strong>
            </div>
        </div>							
		<div class="row-fluid">
			<div class="span3">
				<!--Sidebar content-->
				<select id="appFilter" ng-model ="category">
					<option value="">All Apps</option>
					<option value="!unblocked">Blocked Apps</option>
					<option value="unblocked">Unblocked Apps</option>
				</select>
			</div>
			
			
			<div class="span6">
				<!--Body content-->
				<div id="appNumbers">
					<span><strong><span class="mmblack">Total Apps:&nbsp;</span><span class="badge mmblue" ng-bind="totalApps"></span></strong></span>
					<span class="offset1"><strong><span class="mmblack">Total Blocked: &nbsp;</span><span class="badge mmblue" ng-bind="totalBlocked"></span></strong></span>
				</div>
			</div>
			<div class="span3">
				<!--Body content-->
				<div id="appSearchInput">
					<input ng-model="searchApp" class="input-medium" type="text" placeholder="Search Apps">
				</div>
			</div>
		</div>
		<div id="alertBanner"></div>
	</div>

	<div id="applistDiv">
		<table class="table table-hover tablesorter tablesorter-bootstrap table-bordered noMarginBottom" id="appWrap"><colgroup></colgroup>
			<thead>
				<tr class="tablesorter-headerRow">
					<th data-sorter="false" data-column="0" class="tablesorter-header sorter-false bootstrap-header" tabindex="0" unselectable="on"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
						<h4>App Name</h4>
					</div></div></th>
					<th id="timespendDemo" class="textCenter tablesorter-header sorter-false bootstrap-header" data-sorter="false" data-column="1" tabindex="0" unselectable="on"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
						<h4>Time Spent</h4>
						<i class=""></i></div></div></th>
						<th id="blockDemo" class="textCenter tablesorter-header sorter-false bootstrap-header" data-sorter="false" data-column="2" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
							<h4>Block</h4>
						</div></div></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="app in appList|filter:searchApp|filter:category">

						<td>
							<span class="pull-left">
								<img class="appIcon" ng-src="{{app.icon_url}}">
							</span>
							<span class="appName pull-left" ng-bind="app.name"></span>
						</td>

						<td>
							<span class="badge mmorange noBold"><span ng-bind="app.duration"></span></span>
						</td>

						<td>
							<span class="lockIcon">
							
								<!-- if app blocked -->
								<button id="{{app.id}}" ng-if="app.block_status == 'blocked'" class="btn btn-danger" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-lock"></i></button>												

								<!-- if app unblocked -->
								<button id="{{app.id}}" ng-if="app.block_status == 'unblocked'" class="btn mmgreen" ng-click="updateApp(app,$index)"><i id="icon_{{app.id}}" class="icon-unlock-alt "></i></button>


							</span>
						</td>


					</tr>

				</tbody>
			</table>
		</div>
	</div>

</div>
