

<div id="trialIFrame" class="well whiteBackground">


	<div id="settingOuter" class="grid_16 alpha omega settingOuter">
		<div id="desDiv" class="grid_16 alpha omega settingInner"></div>
		<div id="feaDiv" class="grid_8 alpha omega settingInner"></div>



			<div class=" infobox">
					<div class="row-fluid">
					<div class="span2 pull-left" style="padding-top:8px;text-align:center;">

						<img src="../images/newDash/addDevice/info.png" alt="MobileMinder">

					</div>
					<div class="span10 pull-right ">
						<span class="infotext">To protect <span id="activeDeviceNameContainer" class="mmlink" ng-bind="currentDevice.name">?</span> using MobileMinder please choose one of our payment plans below. If you have any queries please feel free to <a href="http://mobileminder.com/contact/" class="mmblack" target="_blank"><strong class="mmlink">contact us.</strong></a> </span>

					</div>
					</div>
				</div>
			<div class="row-fluid pricing-table pricing-three-column well" style="background:#fff;">
				<div class="span6">
				  <div class="row-fluid">
				     <div class="span7 yearlyImageDiv"></div>
					  <div class="span4 planTextDiv">
					    <h1 class="text-center">$<span class="price">39.99</span></h1>
						<h5 class="text-center">Per Device</h5>
						<h5 class="text-center">Per Year</h5>
         <div class="input-append">
            <input class="span8" id="appendedInputButton" type="text" placeholder="Coupon Code"  ng-model="annual_coupon_code">
            <button class="btn" type="button" ng-click="getCoupon($event)">Apply!</button>
          </div>
						<button class="btn btn-large btn-block mmorange" ng-click="submitPayment('single_3999usd_year')" ng-disabled="buttonDisable">Buy Now</button>
					  </div>
				  </div>

				</div>
  				<div class="span6">
  				  <div class="row-fluid">
  				     <div class="span7 familyImageDiv">
	  				  </div>
					  <div class="span4 planTextDiv">
					    <h1 class="text-center">$<span class="price">99.99</span></h1>
						<h5 class="text-center">Family Plan</h5>
						<h5 class="text-center">Per Year</h5>
          <div class="input-append">
            <input class="span8" id="appendedInputButton" type="text" placeholder="Coupon Code"  ng-model="family_coupon_code">
            <button class="btn" type="button" ng-click="getCoupon($event)">Apply!</button>
          </div>
						<button class="btn btn-large btn-block mmorange" ng-click="submitPayment('multiple_9999usd_year')" ng-disabled="buttonDisable">Buy Now</button>
					  </div>
  				  </div>

				</div>
			  </div>
			  <div class="row-fluid">
				<div class="span12 pull-right text-right" style="padding:15px;">
					<img src="../images/payment/stripe/logo/visa.png">
					<img src="../images/payment/stripe/logo/master_card.png">
					<img src="../images/payment/stripe/logo/discover.png">
					<img src="../images/payment/stripe/logo/american_express.png">
					<img src="../images/payment/stripe/logo/jcb.gif" style="width:32px; height:20px;">
					<img src="../images/payment/stripe/logo/diners_club.png">
				</div>
			  </div>
			  <div class="row-fluid">
			     <div class="span12 pull-right text-right">
			         <span>Please note all credit card payments are handled by Stripe Inc.</span>
			     </div>
			  </div>
			  <!-- Button to trigger modal -->
				<a href="#post-box" role="button" class="btn" style="display:none;" data-toggle="modal"></a>

				<!-- Modal -->
				<div id="post-box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close post-close-action" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Get One Month Free</h3>
				  </div>
				  <div id="post-return-msg" class="alert alert-block" style="display:none;">
					  <button type="button" class="close" data-dismiss="alert">×</button>
					  <p></p>
					</div>
				  <div class="modal-body">
				    <p>Share us on Facebook and receive one month free use of MobileMinder. Or click 'Close' to continue to payment.</p>
				    <p><a id="free-share-fb-btn" class="button fb">Share</a></p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn post-close-action" data-dismiss="modal" aria-hidden="true">Close</button>
				  </div>
				</div>
		</div>

    </div>
