<div class="well noMarginBottom">
	<div class="row-fluid">
		<div id="contactsTableDiv" class="span3">
			<table class="table  tablesorter tablesorter-bootstrap table-bordered" id="contactsTable"><colgroup></colgroup>							
				<thead>
					<tr class="tablesorter-headerRow">
						<th data-column="0" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">Name <i class="tablesorter-icon bootstrap-icon-unsorted"></i></div></div></th>
					</tr>
				</thead>
				<tbody>
					<!--  body is populated by js -->
					<tr ng-repeat="contact in contacts">
						<td ng-class="{flaggedContact : {{contact.is_flagged}}}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="contactInfo(contact,contact.index)">
							<i class="icon-angle-right pull-right" ng-class="{'icon-3x': hover || selectedContactId == {{contact.index}},'red': {{contact.is_flagged}}  }" ></i> 

						
							<span>
								<img ng-src="{{contact.photo_url || defaultProfilePic}}" class="pull-left" height="42" width="42">
								<span class="contactName" ng-bind="contact.name | limitTo: 12"></span>
								<br>
								<span class="pull-left contactNo" ng-bind="contact.number"></span>
							</span>
						</td>
					</tr>
				</tbody>
				
			</table>
			
		</div>
		<div class="overlayContainer"></div>
		
		
		<div class="span9 well noMarginBottom" id="contactsInfoDiv" >
			
			<div class="tabbable"> <!-- Only required for left/right tabs -->
				<ul class="nav nav-tabs callsAndTextTab">
					<li id="callsContainerTab" ng-click="removeTransparentDiv()" class="active"><a class="callsNav mmlink" href=".tab2 " data-toggle="tab"><strong>Calls</strong></a></li>
					<li id="messagesContainerTab" ng-click="removeTransparentDiv()"><a class="msgNav mmlink" href=".tab1" data-toggle="tab"><strong>Texts</strong></a></li>
					
					<li id="flaggedWordsContainerTab" ng-click="addTransparentDiv()"><a class="flagTableNav mmlink" href=".tab3 " data-toggle="tab" ><strong>Flagged Words</strong></a></li>
					<li style="padding-left:10px;">
						<div class="alert alert-error  bs-alert-old-docs" ng-show="flaggedWordError">
                			<strong ng-bind="flaggedWordError"> Something went wrong.</strong>
            			</div>
            		</li>
					<li class="pull-right" ng-show="spinner"><i class="icon-spinner icon-spin icon-large"></i></li>
				</ul>
				<div class="tab-content">
					
					<div class="tab-pane active tab2">
						
						<div id="allCallsContainerDiv" class="well" ng-show="showCallsDiv">
							<table id="callsInfo" class="well well-small table">
								<thead>
									<tr>
										<th>No. of Calls:&nbsp;&nbsp;<span ng-bind="totalCalls" class="badge mmblue"></span></th>
										<th>Outgoing Calls Duration:&nbsp;&nbsp;<span class="badge mmblue"><span ng-bind="outGoingCallDuration"></span> sec(s)</span></th>
										<th>Incoming Calls Duration:&nbsp;&nbsp;<span class="badge mmblue"><span ng-bind="incomingCallDuration"></span> sec(s)</span></th>
										
									</tr>
								</thead>
							</table>
							<div id="allCallsContainer">
								<ul class="timeline">
									<!-- timeline for calls -->
									<li ng-repeat="call in callList" class="{{call.direction}}" >
										<span class="pull-left" ng-bind="call.timestamp"></span>
										<span class="badge mmorange noBold pull-right"><span ng-bind="call.duration"></span> secs</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="well" ng-hide="showCallsDiv">
							<div class="hero-unit noMarginBottom">
								<h2>Click on a Contact</h2>
								<p>Click on a particular contact to see all the calls and texts information</p>
							</div>
						</div>
					</div>

					<div class="tab-pane  tab1">
						<div id="messagesContainer">
							<div class="well noMarginBottom">
								<div ng-show="showFlaggedDiv">
									<table id="messagesInfo" class="well well-small table">
										<thead>
											<tr>
												<th>
													<button class="btn" ng-class="{mmblue: showFlaggedDiv}" ng-click="showFlaggedMsgs()">My Flagged</button>
													<button class="btn" ng-class="{mmblue: showAllMesgDiv}" ng-click="showAllMsgs()">All</button>
												</th>
												<th>Sent:&nbsp;&nbsp;<span class="badge mmblue " ng-bind="flaggedMsgsSent"></span></th>
												<th>Received:&nbsp;&nbsp;<span class="badge mmblue " ng-bind="flaggedMsgsReceived"></span></th>
											</tr>
										</thead>
									</table>
									<div id="flaggedMessagesContainerDiv" >
										<ul id="flaggedMessagesContainer" class="timeline">
											<li ng-repeat="text in flaggedMsgs" class="{{text.direction}} highlightBorder" >
												<table><tbody><tr><td>
														<span ng-show="text.direction == 'incoming'">
															<img ng-src="{{currentContact.photo_url || defaultProfilePic}}" class="img-polaroid pull-left textImage" height="36" width="36"><b ng-bind-html="text.message"></b>
														</span>
														<span ng-show="text.direction == 'outgoing'">
															<img ng-src="{{ currentDevice.profile_icon_url || defaultProfilePic}}" class="img-polaroid pull-left textImage" height="36" width="36"><b ng-bind-html="text.message"></b>
														</span>
													<p>	
														<span class="badge mmorange noBold textTimestamp" ng-bind="text.timestamp"></span>
													</p>

													<!--<i ng-show="text.is_flagged" class="icon-bullseye flagMessage"></i> -->

												</td></tr></tbody></table>
											</li>
											<!-- data loaded by jquery -->
											
										</ul>
										
									</div>
								</div>
								
								<div ng-show="showAllMesgDiv">
									<table id="messagesInfo" class="well well-small table">
										<thead>
											<tr>
												<th>
													<button class="btn" ng-class="{mmblue: showFlaggedDiv}"  ng-click="showFlaggedMsgs()">My Flagged</button>
													<button class="btn" ng-class="{mmblue: showAllMesgDiv}" ng-click="showAllMsgs()">All</button>
												</th>
												<th>Sent:&nbsp;&nbsp;<span class="badge mmblue" ng-bind="msgsSend"></span></th>
												<th>Received:&nbsp;&nbsp;<span class="badge mmblue" ng-bind="msgsReceived"></span></th>
											</tr>
										</thead>
									</table>
									<div id="allMessagesContainerDiv" >
											<ul id="allMessagesContainer" class="timeline"  >

												<li ng-repeat="text in allMsgs" class="{{text.direction}} highlightBorder" >
													<table><tbody><tr><td>
														<span>
															<span ng-show="text.direction == 'incoming'">
																<img ng-src="{{currentContact.photo_url || defaultProfilePic}}" class="img-polaroid pull-left textImage" height="36" width="36"><b ng-bind-html="text.message"></b>
															</span>
															<span ng-show="text.direction == 'outgoing'">
																<img ng-src="{{ currentDevice.profile_icon_url || defaultProfilePic}}" class="img-polaroid pull-left textImage" height="36" width="36"><b ng-bind-html="text.message"></b>
															</span>
														
														</span>
														<p>	
															<span class="badge mmorange noBold textTimestamp" ng-bind="text.timestamp"></span>
														</p>

														<!-- <i ng-show="text.is_flagged" class="icon-bullseye flagMessage"></i> -->

													</td></tr></tbody></table>
												</li>
												<!-- data loaded by jquery -->
												
											</ul>									
																		
									</div>
									
								</div>

								<div class="hero-unit noMarginBottom" ng-hide="showAllMesgDiv||showFlaggedDiv">
									<h2>Click on a Contact</h2>
									<p>Click on a particular contact to see all the calls and texts information</p>
								</div>

							</div>

						</div>
					</div>

					<div class="tab-pane tab3">
						
						<table id="flaggedWordsInfo" class="table">
							<thead>
								<tr>
									<th style="padding-left:0px;padding-top:0px;">
										<button  class="btn" ng-class={mmblue:flaggedWordsDiv} ng-click="showFlaggedWords()">My Flagged</button>
										<button  class="btn" ng-class={mmblue:defaultFlaggedWordsDiv} ng-click="showDefaultFlaggedWords()" >Default Flagged</button>
									</th>
									
									<th ng-show="flaggedWordsDiv" style="padding-right:0px;padding-top:0px;">
										<div id="addFlaggedWordsDiv" class="input-append pull-right noMarginBottom">
											<input class="noBorderRadius" autocomplete="off" ng-model="newFlaggedWord" type="text" placeholder="Add a Flagged Word">
											<button class="btn noBorderRadius" ng-class="{mmblue:(!!newFlaggedWord)}" type="button " ng-click="addFlaggedWord()" ng-disabled="!(!!newFlaggedWord)">Save</button>
										</div>
									</th>
									
								</tr>
							</thead>
						</table>
						
						<div id="flaggedWordsContainer" ng-show="flaggedWordsDiv" >
							<table class="table table-hover tablesorter tablesorter-bootstrap table-bordered" id="flaggedWordsTable"><colgroup></colgroup>
								<thead>
									<tr class="tablesorter-headerRow">
										<th data-column="0" class="tablesorter-header bootstrap-header" >
											<div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
												<div class="tablesorter-header-inner">
													<h4>Flagged Words</h4>
													<i class="tablesorter-icon bootstrap-icon-unsorted"></i>
												</div>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="flagged in flaggedWords">
										<td>
											<span class="pull-left" ng-bind="flagged.word"></span>
											<span class="pull-right">
												<button name="includeicon" type="button" class="btn btn-danger unblock "  ng-click="deleateFlaggedWord(flagged,$index)"><i class="icon-trash icon-large"></i></button>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>	
						<div id="defaultFlaggedWordsContainer" ng-show="defaultFlaggedWordsDiv">
							<table class="table table-hover tablesorter tablesorter-bootstrap table-bordered" id="defaultFlaggedWordsTable"><colgroup></colgroup>
								<thead>
									<tr class="tablesorter-headerRow">
										<th data-column="0" class="tablesorter-header bootstrap-header">
											<div class="tablesorter-wrapper">
												<div class="tablesorter-header-inner">
													<h4>Default Flagged Words</h4>
													<i class="tablesorter-icon bootstrap-icon-unsorted"></i>
												</div>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<!--  body is populated from JavaScript -->
									<tr ng-repeat="flagged in defaultFlaggedWords">
										<td>
											<span class="pull-left" ng-bind="flagged.word"></span>
											<span class="pull-right">
												<button name="includeicon" type="button" class="btn btn-danger unblock " ng-click="deleateDefaultFlaggedWord(flagged,$index)"><i class="icon-trash icon-large"></i></button>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
			</div>
		</div>	
		
	</div>
	
</div>