<div id="header" class="navbar">
        <div class="navbar-inner">
         <div class="container">
          <div class="row">
            <div class="span7 noMargin">
              <!--Body content-->
              <a class="brand" id="mmBrandLogo"><img src="../images/dashlogo.png"  alt="MobileMinder"></a>
            </div>

            <div class="span5 pull-right">
             <div class="pull-right" >
                <div id="profileImgContainer" class="pull-right">
                  <a><img class="img-rounded" id="activeDeviceProfileImage" ng-src="{{currentDevice.avatar_url || defaultProfilePic}}"  width="80" height="80"></a>

                </div>
                <div class="btn-group settingCtrls" id="headerBtns">

                  <a class="btn dropdown-toggle" data-toggle="dropdown"><span ng-bind="currentDevice.name"></span>
                    &nbsp;<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" >
                      <li ng-repeat="device in deviceList" ng-click="setCurrentDevice(device)">
                        <table style="margin:0px 5px;">
                          <tbody>
                            <tr class="cursor">
                              <td>
                                 <img id="activeDeviceProfileImage" ng-src="{{device.avatar_url || defaultProfilePic}}"  width="24" height="24">
                              </td>
                              <td>
                                 <a ng-bind="device.name"></a>
                              </td>
                            </tr>
                          </tbody>


                        </table>
                      </li>
                  </ul>

                  <a class="btn" id="openDemo" ng-click="openDemo()" ><i class="icon-question-sign"></i></a>
                  <a class="btn" id="userSettings"  ng-click="openModal()"><i class="icon-cog"></i></a>
                  <a class="btn" id="signOut" ng-click="signOut()"><i class="icon-off"></i></a>
                </div> <!-- /button-group -->

                <div class="cleranceCode" ng-show="unlock_code">Clearance Code: <span ng-bind="unlock_code"></span></div>

            </div>
            <!-- profile picture -->




          </div> <!-- /span5 -->


        </div> <!-- /row-fluid-->
      </div><!-- navbar-inner-->
    </div>
  </div>


<!-- Modal -->
<div id="accountSettingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Account Settings</h4>
  </div>
  <div class="modal-body">


   <div id="accSettingInfoBanner"></div>
   <div class="accordion" id="accountSetting">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle muted" data-toggle="collapse" data-parent="#accountSetting" href=".addDevice">
          <i class="icon-plus-sign"></i>&nbsp;  Add Device
        </a>
      </div>
      <div class="accordion-body collapse settingInner addDevice">
        <div class="accordion-inner">

              <div class="row-fluid">

                 <div class="row-fluid"
                  <div class="span12 ">
                    <table>
                      <tr>
                        <td>
                            <div class="numberCircle pull-left">1</div>

                            <h4 class="addDeviceSubtitle">Search 'MobileMinder' on Google Play.</h4>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left: 50px;">
                           Using the new device you wish to add go to Google Play and search for 'MobileMinder'. Select the Mobileminder Parental Control option.
                        </td>
                      </tr>
                    </table>
                    </div>

              </div>

              <div class="row-fluid">
                  <div class="bottom-line normal-line marginTopBottom"></div>
              </div>

              <div class="row-fluid">
                  <div class="span12">
                    <table>
                      <tr>
                        <td>
                            <div class="numberCircle pull-left">2</div>

                            <h4 class="addDeviceSubtitle">Select the 'Install' button on the MobileMinder Play Store.</h4>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left: 50px;">
                           When you are on the Mobileminder's page on the Google Play Store, select install to begin downloading the application.
                        </td>
                      </tr>
                    </table>
                  </div>
              </div>
              <div class="row-fluid">
                <div class="bottom-line normal-line marginTopBottom"></div>
              </div>
              <div class="row-fluid">
                  <div class="span12">
                    <table>
                      <tr>
                        <td>
                            <div class="numberCircle pull-left">3</div>

                            <h4 class="addDeviceSubtitle">Login using your MobileMinder account.</h4>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left: 50px;">
                           After opening the app please enter your Mobileminder email and password. Your child's device will then be linked to your account after you refresh the page.
                        </td>
                      </tr>
                    </table>
                  </div>


              </div>



        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle muted" data-toggle="collapse" data-parent="#accountSetting" href=".editDetails">
          <i class="icon-edit-sign"></i>&nbsp;  Edit Details
          <i class="icon-spinner icon-spin pull-right" ng-show="accountInfoSpinner"></i>
        </a>
      </div>
      <div class="accordion-body collapse settingInner editDetails">
        <div class="accordion-inner">
          <form name="accountInfo" novalidate ng-submit="updateAccountDetails();">
            <div class="form-horizontal">
                 <div class="control-group">
                    <div class="alert alert-danger bs-alert-old-docs" ng-show="accountUpdateError">
                      <strong ng-bind="accountUpdateError"></strong>
                    </div>
                    <div class="alert alert-success bs-alert-old-docs" ng-show="accountUpdateSuccess">
                      <strong ng-bind="accountUpdateSuccess"></strong>
                    </div>
                    <div class="alert alert-info bs-alert-old-docs" ng-show="accountUpdateInfo">
                      <strong ng-bind="accountUpdateInfo"></strong>
                    </div>

                </div>
                <div class="control-group">
                  <label class="control-label" for="inputIcon">Account Name</label>
                  <div class="controls">
                    <input class="span3" id="userName" type="text" placeholder="Name" ng-model="accountDetails.name" name="accountName" required="">
                    <div class="msg-error" ng-show="accountInfo.accountName.$dirty && accountInfo.accountName.$invalid">Invalid:
                        <span ng-show="accountInfo.accountName.$error.required">This field is required.</span>
                    </div>
                  </div>
                </div>
                <div class="control-group noMarginBottom ">
                   <label class="control-label" for="inputIcon"> Emergency Phone Number(s):</label>
                    <ol class="controls emergencyPhoneLi" styl>
                        <li>
                          <input class="span3 emergencyNum" type="text" placeholder="Emergency Number 1" ng-model="emergency_numbers[0]">
                        </li>
                        <li>
                          <input class="span3 emergencyNum" type="text" placeholder="Emergency Number 2" ng-model="emergency_numbers[1]">
                        </li>
                         <li>
                          <input class="span3 emergencyNum" type="text" placeholder="Emergency Number 3" ng-model="emergency_numbers[2]">
                        </li>
                        <li>
                          <input class="span3 emergencyNum" type="text" placeholder="Emergency Number 4" ng-model="emergency_numbers[3]">
                        </li>
                    </ol>
                  </div>
                  <div class="control-group noMarginBottom">
                    <div class="controls">
                      <input class="btn btn-primary saveBtn" type="submit" value="Save" />

                    </div>
                  </div>

            </div>
            </form>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle muted" data-toggle="collapse" data-parent="#accountSetting" href=".alertZones">
          <i class="icon-mobile-phone icon-large"></i>&nbsp;  Device Settings
           <i class="icon-spinner icon-spin pull-right" ng-show="deviceSpinner"></i>
        </a>
      </div>
      <div class="accordion-body collapse settingInner alertZones">
        <div class="accordion-inner">

              <ul class="thumbnails">

                     <li class="span5 " ng-repeat="device in deviceList">
                          <div class="panel panel-primary">
                            <div class="panel-body">
                                <span>
                                    <div class="alert alert-danger bs-alert-old-docs" ng-show="device.failure">
                                      <strong>Device Update Error!</strong>
                                    </div>
                                    <div class="alert alert-success bs-alert-old-docs" ng-show="device.success">
                                      <strong>Device Updated Successfully!</strong>
                                    </div>
                                </span>
                                <div class="row-fluid">
                                    <div class="span3">

                                        <img ng-hide="device.avatar_url" ng-src="{{deviceDiv[device.index] && deviceCroppedImage || defaultProfilePic}}" alt="User Pic" style="width:100px;height:100px;">

                                        <img ng-show="device.avatar_url" ng-src="{{deviceDiv[device.index] && deviceCroppedImage || device.avatar_url}}" alt="User Pic" style="width:100px;height:100px;">

                                        <form id="form1" enctype="multipart/form-data" method="post">
                                          <table>
                                            <tr>
                                              <td ng-show="deviceDiv[{{device.index}}]">
                                                <input type="button" class="button" deviceId="{{device.index}}"  ng-click="cancelCrop(device.index)" value="x"/>
                                              </td>
                                              <td>
                                                <input device="{{device}}" id="uploadImage_{{device.index}}" class="uploadBtn" type="file" name="file" onchange="angular.element(this).scope().cropImage(this)" style="margin-top:6px"/>
                                              </td>

                                            </tr>
                                          </table>
                                        </form>
                                        <div ng-show="deviceDiv[{{device.index}}]">
                                          <div class="cropArea">
                                           <img-crop image="deviceImage" result-image="deviceCroppedImage" area-type="circle"></img-crop>
                                          </div>
                                        </div>



                                    </div>
                                    <div class="span9">
                                           <p>
                                              <strong >Device Name</strong> &nbsp;
                                              <span>
                                                  <input type="text" class="deviceNameInput" placeholder="Type something…" ng-model="device.name" required="" >
                                                  <!-- <div class="msg-error" ng-show="!(!!device.name)">
                                                      Invalid: This field is required.
                                                  </div>  -->
                                              </span>
                                           </p>
                                           <p><input type="checkbox" ng-model="device.settings.notifications">&nbsp;Send me Alert Zone notifications by email.</p>
                                           <p><input type="checkbox" ng-model="device.settings.mobile_data_upload">&nbsp;Enable gallery upload over mobile data connection.</p>
                                           <span class="pull-right">
                                              <button class="btn" type="button" ng-class="{mmblue:device.name}" ng-disabled="!(!!device.name)" ng-click="updateDeviceInfo(device,deviceCroppedImage)">Save</button>
                                          </span>


                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr style="margin:10px 0px;">
                      </li>




                  </ul>

           <!-- <p><input type="checkbox">&nbsp;Send me Alert Zone notifications by email.</p>
            <p><input type="checkbox">&nbsp;Enable gallery upload over mobile data connection.</p>
            <p><button class="btn btn-primary  saveBtn" >Save</button></p> -->
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">

        <a class="accordion-toggle muted" data-toggle="collapse" data-parent="#accountSetting" href=".changePassword">
          <i class="icon-lock"></i>&nbsp;  Change Password
          <i class="icon-spinner icon-spin pull-right" ng-show="passwordSpinner"></i>
        </a>


      </div>
      <div  class="accordion-body collapse settingInner changePassword">
        <div class="accordion-inner">
            <form name="myForm" novalidate ng-submit="updatePassword();">
             <div class="form-horizontal">
                <div class="control-group">
                  <div class="alert alert-danger bs-alert-old-docs" ng-show="passwordError">
                    <strong ng-bind="passwordError"></strong>
                  </div>
                  <div class="alert alert-success bs-alert-old-docs" ng-show="passwordSuccess">
                    <strong ng-bind="passwordSuccess"></strong>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputIcon">Current Password</label>
                  <div class="controls">
                      <input class="span3" type="password" ng-model="currentPassword" placeholder="Current Password" name="password" required="">
                      <div class="msg-error" ng-show="myForm.password.$dirty && myForm.password.$invalid">Invalid:
                          <span ng-show="myForm.password.$error.required">This field is required.</span>
                      </div>

                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputIcon">New Password</label>
                  <div class="controls">
                      <input id="newPassword" class="span3" type="password" ng-model="newPassword" placeholder="New Password" name="newPassword" ng-minlength="6" required="">
                      <div class="msg-error" ng-show="myForm.newPassword.$dirty && myForm.newPassword.$invalid">Invalid:
                          <span ng-show="myForm.newPassword.$error.required">This field is required.</span>
                          <span ng-show="myForm.newPassword.$error.minlength">This should be 6 character atleast.</span>
                      </div>
                  </div>
                </div>
                <div class="control-group  ">
                  <label class="control-label" for="inputIcon">Confirm Password</label>
                  <div class="controls">
                      <input id="confirmPassword" class="span3" type="password" ng-model="confirmPassword" placeholder="Confirm Password" name="confirmPassword" ng-minlength="6" pw-check="newPassword" required="">
                      <div class="msg-error" ng-show="myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid">Invalid:
                          <span ng-show="myForm.confirmPassword.$error.pwmatch">Passwords dont match.</span>
                      </div>

                  </div>
                </div>
                <div class="control-group noMarginBottom">

                  <div class="controls">
                      <input class="btn mmblue saveBtn" type="submit" value="Save"
                        ng-disabled="(myForm.password.$pristine || myForm.password.$dirty && myForm.password.$invalid)
                        ||(myForm.newPassword.$pristine || myForm.newPassword.$dirty && myForm.newPassword.$invalid)
                        ||(myForm.confirmPassword.$pristine || myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid)"/>
                  </div>
                </div>

             </div>
             </form>

        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle muted" data-toggle="collapse" data-parent="#accountSetting" href=".uninstall">
          <i class=" icon-exclamation-sign"></i>&nbsp;  Uninstall
        </a>
      </div>
      <div class="accordion-body collapse settingInner uninstall">
        <div class="accordion-inner">

                    <div class="row-fluid">
                      <div class="span12">
                        <p id="stepOne">Please use the following steps to uninstall the MobileMinder application from your child’s phone.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-1.jpg" class=" span4">
                      <img src="../images/uninstall/uninstall-2.jpg" class=" span4">
                      <img src="../images/uninstall/uninstall-3.jpg" class=" span4">
                  </div>
                  <div class="row-fluid">
                    <div class="span12 bottom-line normal-line"></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span12">
                        <p id="stepTwo">Unselect MobileMinder as a device administrator.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-4.jpg" class="span4">
                  </div>
                  <div class="row-fluid">
                    <div class="span12 bottom-line normal-line"></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span12">
                        <p id="stepThree">This will activate the screen lock. You need your Clearance Code to deactivate the lock. You can find this code in the account settings section of your MobileMinder account.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-5.jpg" class="span4">
                  </div>
                  <div class="row-fluid">
                    <div class="span12 bottom-line normal-line"></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span12">
                        <p id="stepFour">Enter your Clearance Code.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-6.jpg" class="span4">
                  </div>
                  <div class="row-fluid">
                    <div class="span12 bottom-line normal-line"></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span12">
                        <p id="stepFive">You need to deactivate the screen lock permanently in the settings section.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-7.jpg" class="span4 ">
                      <img src="../images/uninstall/uninstall-8.jpg" class="span4">
                  </div>
                  <div class="row-fluid">
                    <div class="span12 bottom-line normal-line"></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span12">
                        <p id="stepSix">Resubmit your Clearance Code.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-9.jpg" class="span4">
                  </div>
                  <div class="row-fluid">
                    <div class="span12 bottom-line normal-line"></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span12">
                        <p id="stepSeven">Select no screen lock.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-10.jpg" class="span4">
                  </div>
                  <div class="row-fluid">
                    <div class="span12 bottom-line normal-line"></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span12">
                        <p id="stepEight">Now you can uninstall the app the same way you would with any other.</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <img src="../images/uninstall/uninstall-11.jpg" class="span4">
                  </div>



        </div>
      </div>
    </div>

    <!--  <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle muted" data-toggle="collapse" data-parent="#accountSetting" href="#setLang">
          <i class=" icon-globe"></i>&nbsp;  Launguage
        </a>
      </div>
      <div id="setLang" class="accordion-body collapse settingInner">
        <div class="accordion-inner">
          <button class="btn" ng-click="changeLanguage('de')">German</button>
          <button class="btn" ng-click="changeLanguage('en')">English</button>
        </div>
      </div>
    </div> -->

  </div>
</div>

<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

