<div id="internetDiv" class="well noMarginBottom">



            <ul class="nav nav-tabs">
              <li class="active"><a href=".tab1" class="mmlink" data-toggle="tab"><strong>Browse History</strong></a></li>
              <li><a href=".tab2" class="mmlink" data-toggle="tab"><strong>Manage Sites</strong></a></li>
              <!-- <li><a href=".tab3" class="mmlink" data-toggle="tab"><strong>Time Spent</strong></a></li> -->
              <!-- <li><a href=".tab4" class="mmlink" data-toggle="tab"><strong>Manage Categories</strong></a></li> -->
              <li id="serverResponse" style="display:none; padding-lft:10px;"></li>
              <!-- Submit -->
              <li style="float:right;">
                <!-- Need to include ajax response message and spinner -->
                <div class="control-group">
                            <div class="alert alert-danger bs-alert-old-docs" ng-show="responseError">
                              <strong ng-bind="responseError"></strong>
                            </div>
                            <div class="alert alert-success bs-alert-old-docs" ng-show="responseSuccess">
                              <strong ng-bind="responseSuccess"></strong>
                            </div>
                        </div>
              </li>
            </ul>
            <div class="tab-content" style="overflow:auto;">
              <div class="tab-pane active in tab1" >

                            <div class="alert alert-info bs-alert-old-docs" ng-show="webHistoryEmpty">
                              <strong> Web History is empty!</strong>
                            </div>


                  <!--  <div class="btn-toolbar" style="margin-top:0px;">
                    <button ng-click="showWebHistory()" class="btn" ng-class="{mmblue: selected == 'webHistory'}">History</button>
                    <button ng-click="showTimeSpent()" class="btn" ng-class="{mmblue: selected == 'timeSpent'}">Time Spent</button>
                  </div> -->
                  <div id="webHistoryList" class="webhistory" ng-hide="webHistoryEmpty">
                    <table class="table table-hover tablesorter table-bordered tablesorter-bootstrap hasFilters">
                      <thead>
                        <tr class="tablesorter-headerRow">
                          <th data-column="0" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Sites Visited</h4>
                           </div></div>
                           </th>
                          <th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="1" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Date</h4>
                           </div></div>
                           </th>
                          <th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="2" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Time Spent</h4>
                          </div></div>
                           </th>
                          <!-- <th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="3" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Block</h4>
                          </div></div>
                           </th> -->
                        </tr>
                        <tr class="tablesorter-filter-row"><td><input type="search" placeholder="" class="tablesorter-filter" data-column="0"></td><td><input type="search" placeholder="" class="tablesorter-filter" data-column="1"></td><td><input type="search" placeholder="" class="tablesorter-filter" data-column="2"></td><td><input type="search" placeholder="" class="tablesorter-filter" data-column="3"></td>
                        </tr>
                      </thead>

                      <tbody>
                        <tr ng-repeat="webHistory in webHistoryList">
                          <td ng-bind="webHistory.url"></td>
                          <td class="textCenter"><span class="label mmblue noBold" ng-bind="webHistory.start_at"></span></td>
                          <td class="textCenter"><span class="badge mmorange noBold"><span ng-bind="webHistory.duration"></span></span></td>
                          <!--<td class="textCenter">
                            <button ng-if="webHistory.blocked" class="btn btn-danger" ng-click="unblockURL(webHistory)" ><i class="icon-lock icon-large"></i></button>

                            <button ng-if="!webHistory.blocked" class="btn mmgreen" ng-click="blockURL(webHistory,false)"><i class="icon-unlock-alt icon-large"></i></button>
                          </td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--
                  <div id="timeSpentList" class="webhistory none" >
                    <table class="table table-hover tablesorter table-bordered tablesorter-bootstrap hasFilters"><colgroup></colgroup>
                      <thead>
                        <tr class="tablesorter-headerRow">
                          <th data-column="0" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on">
                          <div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Sites Visited</h4>
                           <i class="tablesorter-icon bootstrap-icon-unsorted"></i></div></div></th>
                          <th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="1" tabindex="0" unselectable="on"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
                            <h4>Time Spent</h4>
                           </div></div></th>
                          <th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="2" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Block</h4>
                          </div></div></th>
                        </tr>
                      <tr class="tablesorter-filter-row"><td><input type="search" placeholder="" class="tablesorter-filter" data-column="0"></td><td><input type="search" placeholder="" class="tablesorter-filter" data-column="1"></td><td><input type="search" placeholder="" class="tablesorter-filter" data-column="2"></td></tr></thead>

                      <tbody>
                        <tr ng-repeat="timespent in timeSpentList">
                          <td ng-bind="timespent.name"></td>
                          <td class="textCenter"><span class="badge mmorange noBold" ng-bind="timespent.timeSpent"></span>
                          </td>
                          <td class="textCenter">

                            <button ng-if="timespent.blocked" class="btn btn-danger" ng-click="unblockURL(timespent)" ><i class="icon-lock icon-large"></i></button>

                            <button ng-if="!timespent.blocked" class="btn mmgreen" ng-click="blockURL(timespent,false)"><i class="icon-unlock-alt icon-large"></i></button>

                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div> -->


              </div>


              <div class="tab-pane fade tab2" >



                  <div class="row-fluid">
                    <div class="span12">
                      <div class="controls controls-row">
                        <input name="name" type="url" class="span10" placeholder="Enter URL eg:http://www.google.com" ng-model="urlName">
                        <button id="urlSubmit" type="submit" class="btn mmblue input-medium pull-right" ng-click="allowUrl()">Block
                        </button>
                      </div>
                      <div ng-show="urlExists" class="alert alert-danger bs-alert-old-docs">
                          <strong>Error!</strong> <span ng-bind="urlExists"></span>
                        </div>
                    </div>
                  </div>
                  <div class="alert alert-info bs-alert-old-docs" ng-show="allowedSitesEmpty">
                              <strong> Blocked Sites list is empty!</strong>
                            </div>
                  <div ng-hide="allowedSitesEmpty">

                    <table class="table table-hover tablesorter tablesorter-bootstrap table-bordered noMarginBottom "><colgroup></colgroup>
                      <thead>
                        <tr class="tablesorter-headerRow">
                          <th data-sorter="false" data-column="0" class="tablesorter-header sorter-false bootstrap-header noBorderRadius" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Sites Blocked</h4>
                           </div></div></th>

                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div id="blockedSitesTableDiv" ng-hide="allowedSitesEmpty">
                    <table class="table table-hover tablesorter tablesorter-bootstrap table-bordered noMarginBottom "><colgroup></colgroup>
                      <tbody>
                        <tr ng-repeat="site in allowedDomains">
                          <td>
                            <span ng-bind="site.url"></span>
                            <button class="btn pull-right btn-danger" ng-click="deleteSite(site,$index)"><i class="icon-trash"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

              </div>

              <!--<div class="tab-pane fade tab3" >

                  <div>
                    <table class="table table-hover tablesorter table-bordered tablesorter-bootstrap hasFilters"><colgroup></colgroup>
                      <thead>
                        <tr class="tablesorter-headerRow">
                          <th data-column="0" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on">
                          <div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Sites Visited</h4>
                           <i class="tablesorter-icon bootstrap-icon-unsorted"></i></div></div></th>
                          <th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="1" tabindex="0" unselectable="on"><div class="tablesorter-wrapper" ><div class="tablesorter-header-inner">
                            <h4>Time Spent</h4>
                           </div></div></th>
                          <th data-sorter="false" class="textCenter tablesorter-header sorter-false bootstrap-header" data-column="2" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner">
                            <h4>Block</h4>
                          </div></div></th>
                        </tr>
                      <tr class="tablesorter-filter-row"><td><input type="search" placeholder="" class="tablesorter-filter" data-column="0"></td><td><input type="search" placeholder="" class="tablesorter-filter" data-column="1"></td><td><input type="search" placeholder="" class="tablesorter-filter" data-column="2"></td></tr></thead>

                      <tbody>
                        <tr ng-repeat="timespent in timeSpentList">
                          <td ng-bind="timespent.name"></td>
                          <td class="textCenter"><span class="badge mmorange noBold" ng-bind="timespent.timeSpent"></span>
                          </td>
                          <td class="textCenter">

                            <button ng-if="timespent.blocked" class="btn btn-danger" ng-click="unblockURL(timespent)" ><i class="icon-lock icon-large"></i></button>

                            <button ng-if="!timespent.blocked" class="btn mmgreen" ng-click="blockURL(timespent,false)"><i class="icon-unlock-alt icon-large"></i></button>

                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>

              </div>  -->

              <!--
              <div class="tab-pane fade tab3" >

                  <div class="row-fluid">
                    <div class="span12">
                      <div class="controls controls-row">
                        <input id="keywordName" name="name" type="text" class="span10" placeholder="Enter Keyword">
                        <button id="keywordSubmit" type="submit" class="btn mmblue input-medium pull-right ">Add</button>
                      </div>
                    </div>
                  </div>

                  <div >
                    <table class="table table-hover tablesorter tablesorter-bootstrap table-bordered noMarginBottom"><colgroup></colgroup>
                      <thead>
                        <tr class="tablesorter-headerRow">
                          <th data-sorter="false" data-column="0" class="tablesorter-header sorter-false bootstrap-header noBorderRadius" tabindex="0" unselectable="on" style="-webkit-user-select: none;"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner"><h4>Keyword Name</h4> </div></div></th>
                        </tr>
                      </thead>

                    </table>
                  </div>
                  <div id="keywordsTableDiv">
                    <table class="table table-hover tablesorter tablesorter-bootstrap table-bordered noMarginBottom"><colgroup></colgroup>

                      <tbody>
                        <tr ng-repeat="keyword in keywordsBlocked">
                          <td>
                            <span ng-bind="keyword.name"></span>
                            <button class="btn pull-right btn-danger" ng-click="deleteKeyword(keyword.id)"><i class="icon-trash icon-large"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

              </div>

              <div class="tab-pane fade tab4" >


                  <div>
                    <table class="table table-hover tablesorter table-bordered tablesorter-bootstrap hasFilters noMarginBottom"><colgroup></colgroup>
                      <thead>
                        <tr class="tablesorter-headerRow ">
                          <th data-sorter="false" data-column="0" class="tablesorter-header sorter-false bootstrap-header noBorderRadius" tabindex="0" unselectable="on"><div class="tablesorter-wrapper"><div class="tablesorter-header-inner"><h4>Category Name</h4></div></div></th>
                        </tr>
                    </table>

                  </div>
                  <div id="categoriesTableDiv">

                    <table class="table table-hover tablesorter table-bordered tablesorter-bootstrap hasFilters noMarginBottom">
                      <tbody>
                        <tr ng-repeat="category in categories">
                          <td>
                            <span ng-bind="category.name"></span>

                            <button ng-if="category.blocked" class="btn btn-danger pull-right" ng-click="unblockCategory(category)" ><i class="icon-lock icon-large"></i></button>

                            <button ng-if="!category.blocked" class="btn mmgreen pull-right" ng-click="blockCategory(category)"><i class="icon-unlock-alt icon-large"></i></button>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

              </div>   -->


            </div>

          </div>
