<div class="span2 tabs-left noMargin">
	<!--Sidebar content-->
	<ul class="nav nav12 nav-tabs nav-stacked sidebar-tabs span2" >
		<!--li class=""><a href="index.html"><img src="static/images/overview.png"><br/>Overview</a></li-->
		<li id="activityNav">
			<a href="/#/activity" class="navTabLink" ng-class="{activeTab:currentTab('activity')}">
				<i class="icon-th icon-3x icon-white"></i>
				<br/><span translate>Activity</span>
			</a>
		</li>
		<li id="locationNav">
			<a href="/#/location" class="navTabLink" ng-class="{activeTab:currentTab('location')}">
				<i class="icon-globe icon-3x"></i>
				<br/><span translate>Location</span>
			</a>
		</li>

		<li id="callsAndTextNav" ng-if="currentDevice.type != 'tablet'">

			<a href="/#/callAndText" class="navTabLink" ng-class="{activeTab:currentTab('callAndText')}" >
				<i class="icon-comments-alt icon-3x icon-white"></i>
				<br/><span translate>Call & Texts</span>
			</a>
		</li>
		<li id="galleryNav">
			<a href="/#/gallery" class="navTabLink" ng-class="{activeTab:currentTab('gallery')}">
				<i class="icon-picture icon-3x icon-white"></i>
				<br/><span translate>Gallery</span>
			</a>
		</li>
		<li id="appsNav">
			<a href="/#/apps" class="navTabLink" ng-class="{activeTab:currentTab('apps')}">
				<i class="icon-mobile-phone icon-3x icon-white"></i>
				<br/><span translate>Apps</span>
			</a>
		</li>
		<li id="internetNav">
			<a href="/#/internet" class="navTabLink" ng-class="{activeTab:currentTab('internet')}">
				<i class="icon-laptop icon-3x icon-white"></i>
				<br/><span translate>Internet</span>
			</a>
		</li>

		<li id="internetNav" ng-show="currentDevice.free_trial">
			<a href="/#/buynow" class="navTabLink" style="background: #ff6e16 !important;color: #ffffff !important;opacity: 0.8;">
				<h4>&nbsp; Buy Now &nbsp;</h4>
			</a>

		</li>

	</ul>
</div>
