<div id="noDevicesDiv" class="well noMarginBottom">
				
				<div class=" infobox">
					<div class="row-fluid"> 
					<div class="span2 pull-left" style="padding-top:8px;text-align:center;">
					
						<img src="../images/newDash/addDevice/info.png" alt="MobileMinder">
						
					</div>
					<div class="span10 pull-right ">
						<span class="infotext">Thank you for creating a MobileMinder account. To link your child's phone with your account please follow the three short steps below. If you are experiencing difficulty feel free to contact us.</span>
					</div>
					</div>	
				</div>
				
				<br><br>
				
				<div class="row-fluid">
					
					<div class="span4 borderRight">
						<table>
							<tbody>
								
								<tr>
								<td><div class="numberCircle">1</div></td>
								<td><span class="pull-right" style="font-size: 18px;font-weight: bold;padding-left: 6px;line-height: 25px;">Search 'MobileMinder' on the Google Play Store</span></td>
								</tr>

							</tbody>
						</table>
						<br>
						<table>
							<tbody>
							
								<tr>
								<td><img src="../images/newDash/addDevice/searchphone.png" alt="MobileMinder"></td>
								<td style="vertical-align:top">
									<span class="pull-right addDeviceText">
										Using yours child's phone go to the Google Play Store and search for 'Mobileminder'. Select the Mobileminder Parental Control option.									</span>
								</td>
								</tr>

							</tbody>
						</table>
					 
						
					</div>
					
					<div class="span4 borderRight">
						<table>
							<tbody>
								
								<tr>
								<td><div class="numberCircle">2</div></td>
								<td><span class="pull-right" style="font-size: 18px;font-weight: bold;padding-left: 6px;line-height: 25px;">
									Select the 'Install' button on the MobileMinder Play Store								</span></td>
								</tr>

							</tbody>
						</table>
						<br>
						<table>
							<tbody>
							
								<tr>
								<td><img src="../images/newDash/addDevice/playstorephone.png" alt="MobileMinder"></td>
								<td style="vertical-align:top">
									<span class="pull-right addDeviceText">
										When you are on the Mobileminder's page on the Google Play Store, select install to begin downloading the application.									</span>
								</td>
								</tr>

							</tbody>
						</table>
					
					 
					</div>
				
					<div class="span4">
						<table>
							<tbody>
							
								<tr>
								<td><div class="numberCircle">3</div></td>
								<td><span class="pull-right" style="font-size: 18px;font-weight: bold;padding-left: 6px;line-height: 25px;">
									Login using your MobileMinder account.								</span></td>
								</tr>

							</tbody>
						</table>
						<br>
						<table>
							<tbody>
							
								<tr>
								<td><img src="../images/newDash/addDevice/login.png" alt="MobileMinder"></td>
								<td style="vertical-align:top">
									<span class="pull-right addDeviceText">
										After opening the app please enter your Mobileminder email and password. Your child's device will then be linked to your account after you refresh the page.									</span>
								</td>
								</tr>

							</tbody>
						</table>
					
						
					</div>
			
				</div>
	 
	  </div>